<div id="gnav" class="clearfix">
<div id="gnav-inner">
<ul>
<li class="gnav01"><a href="{$__frame.fep_directory}/services/"><span class="active">{t}8100,_('ホーム'){/t}</span></a></li>
{if !$__frame.ignore_menu.reservation && $__frame.user_info.account_model != 'centre'}
<li class="gnav02"><a href="{$__frame.fep_directory}/services/reservation/?action_create=&amp;new=1"><span class="active">{t}2124,_('会議予約'){/t}</span></a></li>
<li class="gnav03"><a href="{$__frame.fep_directory}/services/reservation/"><span class="active">{t}8101,_('予約一覧'){/t}</span></a></li>
{/if}
{if $__frame.user_info.account_model != 'free'}
{if $__frame.user_info.account_model != 'centre' && !$__frame.view_mobile_flg && $__frame.member_info.member_type != 'free'}
<li class="gnav05"><a href="{$__frame.fep_directory}/services/meetinglog/"><span class="active">{t}2127,_('会議記録'){/t}</span></a></li>
{/if}
{if !$__frame.ignore_menu.use_storage && !$__frame.view_mobile_flg}
<li class="gnav11"><a href="{$__frame.fep_directory}/services/storage/"><span class="active">{t}8102,_('ストレージ'){/t}</span></a></li>
{/if}
{/if}
{if !$__frame.view_mobile_flg}
	<li>
	    <dl class="dropdown">
	    <dt id="others-ddheader" class="gnav-others" onmouseover="ddMenu('others',1)" onmouseout="ddMenu('others',-1)"><a href="#"><span class="drop">{t}8103,_('その他'){/t}</span></a></dt>
	    <dd id="others-ddcontent" onmouseover="cancelHide('others')" onmouseout="ddMenu('others',-1)">
	    <ul>
	{if $__frame.user_info.account_model != 'free'}
		{if !$__frame.ignore_menu.tool}
			<li><a href="{$__frame.fep_directory}/services/download/"><span class="active">{t}2128,_('ツール'){/t}</span></a></li>
		{/if}
	{/if}
	{if !$__frame.ignore_menu.manual}
		<li><a href="{$__frame.fep_directory}/services/download/index.php?action_show_manual=1"><span class="active">{t}7531,_('マニュアル'){/t}</span></a></li>
	{/if}
	{if !$__frame.ignore_menu.faq}
	<li><a href="{$__frame.fep_directory}/services/faq/"><span class="active">FAQ</span></a></li>
	{/if}
	{if !$__frame.ignore_menu.inquiry}
	<li><a href="{$__frame.fep_directory}/services/ask/"><span class="active">{t}2129,_('お問い合わせ'){/t}</span></a></li>
	{/if}
	{if $__frame.country_list|@count > 1 || $__frame.lang_list|@count > 1 || $__frame.time_zone_list|@count > 1}
	<li><a href="{$__frame.fep_directory}/services/index.php?action_env">{t}2138,_('個人設定'){/t}</a></li>
	{/if}
	{if !$__frame.ignore_menu.login_as_admin  && $__frame.login_type != "invite" && $__frame.login_type != "invitedGuest" && $__frame.user_info.account_model != 'centre'}
	<li><a href="{$__frame.fep_directory}/services/?action_show_adminlogin=1">{t}2139,_('管理者ページ'){/t}</a></li>
	{/if}
	    </ul>
	    </dd>
	    </dl>
	</li>
{/if}
</ul>

<div class="logout">
  <ul>
    <li>{if !$__frame.n2my.auto_login}<a href="{$__frame.fep_directory}/services/logout/">{t}2136,_('ログアウト'){/t}</a>{/if}</li>
  </ul>
</div>

</div>
</div>

{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}

<!-- chrome対応の特別メンテナンス注意文 -->
<div id="chrome-maint" class="maint-col" style="display:none">
    <p class="maint-text">{t}8188,_('V-CUBEミーティングでサポートされていないGoogle Chromeを使用しており、一部の機能が正しく動作しない場合があります。ご利用前に<a href="http://www.nice2meet.us/ja/requirements/meeting.html" target="_blank">動作環境ページ</a>をご参照ください。'){/t}</p>
</div>
{literal}
<script>
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
if(is_chrome == true) {
  j$("#chrome-maint").show();
}
</script>
{/literal}
<!-- chrome対応の特別メンテナンス注意文 -->