<div id="gnav" class="clearfix">
<div id="gnav-inner">
<ul>
{if !$__frame.ignore_menu.reservation}
<li class="gnav02"><a href="{$__frame.fep_directory}/services/reservation/index.php?action_create=&amp;new=1"><span class="active">{t}2124,_('会議予約'){/t}</span></a></li>
<li class="gnav03"><a href="{$__frame.fep_directory}/services/reservation/index.php"><span class="active">{t}2125,_('予約変更'){/t}</span></a></li>
{/if}
{if !$__frame.ignore_menu.use_storage && !$__frame.view_mobile_flg}
<li class="gnav11"><a href="{$__frame.fep_directory}/services/storage/"><span class="active">{t}8102,_('ストレージ'){/t}</span></a></li>
{/if}
</ul>
<div class="logout">
  <ul>
    <li>{if !$__frame.n2my.auto_login}<a href="{$__frame.fep_directory}/services/logout/yoyaku.php">{t}2136,_('ログアウト'){/t}</a>{/if}</li>
  </ul>
</div>
</div>
</div>
