<div id="header">
<h1><img src="{$__frame.fep_directory}/lang/{$__frame.lang}/images/sales/logo.gif" alt="{$__frame.service_info.full_name}" /></h1>
{if !$__frame.ignore_menu.support_info}
<div class="support-info">
{if $__frame.user_info.account_model == "free" || $__frame.user_info.support_info_type == "free"}
{t}7674,_('有料プランのご契約申込・カスタマーサポート（平日 09:00-17:00 電話受付）'){/t}<span>{t}7675,_('0570-07-0710'){/t}</span>
{else}
{t}7665,_('カスタマーサポート（24時間365日 電話受付）'){/t}<span>{t}7666,_('0570-00-2192'){/t}</span>
{/if}
</div>
{/if}
</div>
