{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Video Conference Detail"}

{$content|escape:'html'}

<div class="title">{t}314159,_('[Video Conference Record]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1282,_('Action'){/t}</th>
{foreach from=$vc_columns key=key item=column}
        <th nowrap>{$column.label|escape:'html'}</th>
{/foreach}
    </tr>
</thead>
<tbody>
{if $vc_row}
    <tr>
        <td class="action">
            <a href="?action_meeting_detail&amp;meeting_key={$vc_row.meeting_key|escape:'html'}">{t}314159,_('Show Meeting Detail'){/t}</a> |
            <a href="?action_room_detail&amp;room_key={$vc_row.room_key|escape:'html'}">{t}314159,_('Show Room Detail'){/t}</a>
        </td>
    {foreach from=$vc_columns key=key item=column}
        <td>{$vc_row.$key|escape:'html'}</td>
    {/foreach}
    </tr>
{/if}
</tbody>
</table>

<br>

<div class="title">{t}314159,_('[Video Conference Participants]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
{foreach from=$vc_participant_columns key=key item=column}
        <th nowrap>
    {$column.label|escape:'html'}
    {if $column.sort == true}
            <a href="?{$page.action|escape:'html'}=1&amp;{$vc_primary_key|escape:'html'}={$vc_row.$vc_primary_key|escape:'html'}&amp;sort_key={$key|escape:'html'}&amp;sort_type=asc">
        {if $page.sort_key == $key && $page.sort_type == "asc"}
                <img src="{$__frame.base_dir|escape:'html'}shared/images/btn_asc_on.gif" border="0" /></a>
        {else}
                <img src="{$__frame.base_dir|escape:'html'}shared/images/btn_asc.gif" border="0" /></a>
        {/if}
            <a href="?{$page.action|escape:'html'}=1&amp;{$vc_primary_key|escape:'html'}={$vc_row.$vc_primary_key|escape:'html'}&amp;sort_key={$key|escape:'html'}&amp;sort_type=desc">
        {if $page.sort_key == $key && $page.sort_type == "desc"}
                <img src="{$__frame.base_dir|escape:'html'}shared/images/btn_desc_on.gif" border="0" /></a>
        {else}
                <img src="{$__frame.base_dir|escape:'html'}shared/images/btn_desc.gif" border="0" /></a>
        {/if}
    {/if}
        </th>
{/foreach}
    </tr>
</thead>
<tbody>
{foreach from=$vc_participant_rows item=row}
    <tr>
    {foreach from=$vc_participant_columns key=key item=column}
        <td>{$row.$key|escape:'html'}</td>
    {/foreach}
    </tr>
{/foreach}
</tbody>
</table>

<br />
<input type="button" onclick="location.href='?action_list&amp;table={$table|escape:'html'}'" value="{t}1284,_('Back'){/t}"/>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
