{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Address Book"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1010,_('Download Template'){/t}</span></a></li>
        <li><a href="#fragment2"><span>{t}1011,_('Import'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        <span class="information">{t}1012,_('Please add a CSV file.'){/t}</span><br />
        <form action="address_book.php" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1013,_('Download CSV File'){/t}</legend>
        <span class="attention">{t}1014,_('In order to avoid the garbage character, please use the UTF-8 Encode.'){/t}<br />
        {t}4656,_('If you want to edit it with a Spreadsheet Software, please use OpenOffice or anther one, instead of MS Excel.'){/t}<br />
        {t}4659,_('If you have any problem, please contact the CTU.'){/t}</span><br />
        <a href="http://ja.openoffice.org/download/">{t}1015,_('Download OpenOffice Here'){/t}</a><br /><br />
        <input type="submit" name="action_download" value="{t}1016,_('Download CSV File Template'){/t}" />
        </fieldset>
        </form>
    </div>

    <div id="fragment2">
        <span class="information">{t}1017,_('By specifying the existing user ID, please upload the CSV file that you edited.'){/t}</span><br />
        <form action="address_book.php#fragment2" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1011,_('Import'){/t}</legend>
        {t}4661,_('User'){/t}ID : <input type="text" name="user_id" value="{$smarty.request.user_id|escape:'html'}" />
        CSV{t}4662,_('File'){/t} : <input type="file" name="import_file" />
        <input type="submit" name="action_import_confirm" value="{t}1019,_('Confirm Import'){/t}" />

{if $rows}
{literal}
<script type="text/javascript">
<!--
    function form_submit(frm) {
        if (confirm("{/literal}{t}1020,_('Do you really want to add?'){/t}{literal}")) {
            frm.submit();
        }
    }
// -->
</script>
{/literal}
    <form action="address_book.php"  method="post">
    <fieldset>
    <legend>{t}1021,_('Confirm'){/t}</legend>
    {if $err_flg}
    <span class='required'>{t}1022,_('Input Error, please review again,'){/t}</span>
    {/if}
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>no</th>
            <th>{t}1023,_('Name'){/t}</th>
            <th>{t}1023,_('Name'){/t} ( {t}4663,_('reading'){/t} ) </th>
            <th>{t}1025,_('E-mail'){/t}</th>
            <th>{t}1026,_('Timezone'){/t}</th>
            <th>{t}1027,_('Language'){/t}</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$rows key=i item=row}
        <tr{if $row.error} class="warn"{/if}>
            <td{if $row.error} rowspan="2"{/if}>{$i+1}</td>
            <td>{$row.name|escape:"html"}</td>
            <td>{$row.name_kana|escape:"html"}</td>
            <td>{$row.email|escape:"html"}</td>
            <td>{$row.timezone|escape:"html"}</td>
            <td>{$row.lang|escape:"html"}</td>
        </tr>
        {if $row.error}
        <tr class="warn">
            <td colspan="9" style="text-align: left;">
            {foreach from=$row.error key=key item=err_msg}
                [ {$key} ] <b>{$row.$key}</b> <span class='attention'>{$err_msg}</span><br />
            {/foreach}
            </td>
        </tr>
        {/if}
    {/foreach}
    </tbody>
    </table>
    {if !$err_flg}
    <input type="hidden" name="strict" value="{$smarty.request.strict}"/>
    <input type="hidden" name="user_id" value="{$smarty.request.user_id}"/>
    <input type="hidden" name="action_import" />
    <input type="button" value="{t}1028,_('Add'){/t}" onclick="form_submit(this.form);" />
    {/if}
    </form>
    </fieldset>
{/if}
        </fieldset>
        </form>
    </div>
</div>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}