{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Add Member"}
{literal}
<script type="text/javascript">
<!--
function add(){
    if(confirm("{/literal}{t}1396,_('登録しますか？'){/t}{literal}")){
        document.add_form._action.name = "action_add_member_complete";
        document.add_form.submit();
    }
}
function member_delete(room_key){
    if(confirm("{/literal}{t}1419,_('停止しますか？'){/t}{literal}")){
        document.delete_form._action.name = "action_delete_member";
        document.delete_form.room_key.value = room_key;
        document.delete_form.submit();
    }
}
//-->
</script>

{/literal}
<form action="{$__frame.self}" name="add_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="add_form[user_key]" value="{$user_key}" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<fieldset>
<legend>Add Form</legend>
<table>
    {if $message}
        <div class="required">
            <ul>
                <!-- start display errors -->
                {$message}
                <!-- end display errors -->
            </ul>
        </div>
    {/if}
    <tr>
        <td>{t}1397,_('ユーザーID'){/t}</td>
        <td>{$user_info.user_id|escape:"html"}</td>
    </tr>
    <tr>
        <td>{t}1398,_('メンバーID'){/t}</td>
        <td><input type="text" name="add_form[member_id]" size="50" value="{$add_member_form.member_id}" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('メンバーパスワード'){/t}</td>
        <td><input type="text" name="add_form[member_pass]" size="50" value="{$add_member_form.member_pass}" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('メンバー名'){/t}</td>
        <td><input type="text" name="add_form[member_name]" size="50" value="{$add_member_form.member_name}" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('メンバー名カナ'){/t}</td>
        <td><input type="text" name="add_form[member_name_kana]" size="50" value="{$add_member_form.member_name_kana}" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('メールアドレス'){/t}</td>
        <td><input type="text" name="add_form[member_email]" size="50" value="{$add_member_form.member_email}" /></td>
    </tr>
    <tr>
        <td>{t}1399,_('グループ'){/t}</td>
        <td><select name="add_form[member_groop]" id="member_groop">
                <option value="">{t}1398,_('選択してください'){/t}</option>
                {foreach from=$group_list item=groups}
                <option value="{$group.group_key}" {if $add_member_form.member_group == $group.group_key}seleced{/if}>{$group.group_name|escape:"html"}</option>
                {/foreach}
        </select></td>
    </tr>
    <tr>
        <td>{t}1399,_('タイムゾーン'){/t}</td>
        <td><select name="add_form[timezone]">
              <option value="100">{$__frame.message.MEMBER_UNDEFINED_TIMEZONE}</option>
              {foreach from=$__frame.time_zone_list item=tz}
              <option value="{$tz.key}" {if $tz.key == $timezone|default:$__frame.time_zone}selected="selected"{/if}>{$tz.value}</option>
              {/foreach}
        </select></td>
    </tr>
    <tr>
    <th>{t}571,_('言語'){/t}</th>
    <td><select id="lang" name="add_form[lang]">
            {foreach from=$__frame.lang_list key=lang_key item=lang_name}
            <option value="{$lang_key}" {if $lang_key == $lang|default:$__frame.lang|substr:0:2}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
            {/foreach}
        </select></td>
    </tr>
    <tr>
        <td>{t}4729,_('タイプ'){/t}</td>
        <td><select name="add_form[member_type]">
                {if $user_info.account_model != "member"}
                {if $user_info.account_model != "centre"}<option value="">{t}1406,_('なし'){/t}</option>{/if}
                {if $user_info.account_model == "centre"}<option value="centre" {if $add_member_form.member_type == "centre"}selected{/if}>センター</option>{/if}
                <option value="terminal" {if $add_member_form.member_type == "terminal"}selected{/if}>ターミナル</option>
                {else}
                <option value="">{t}1406,_('なし'){/t}</option>
                {/if}
            </select>
        </td>
    </tr>
    {if $user_info.account_model != "member"}
    <tr>
        <td>{t}1399,_('部屋'){/t}</td>
        <td><select name="add_form[member_room_keys][]" id="member_room_keys" multiple>
                <option value="">{t}1398,_('選択してください（ターミナルメンバー追加時のみ）'){/t}</option>
                {foreach from=$room_list item=rooms}
                <option value="{$rooms.room_key}"  {if $add_member_form.member_room_keys.$rooms.room_key == $rooms.room_key}selected{/if}>{$rooms.room_name|escape:"html"}</option>
                {/foreach}
        </select></td>
    </tr>
    {/if}
    <tr>
        <td>{t}1399,_('代理店'){/t}</td>
        <td><select name="add_form[agency]" id="agency">
                <option value="">{t}1398,_('選択してください'){/t}</option>
                {foreach from=$agency_list item=agency}
                <option value="{$agency.agency_id}" {if $add_member_form.agency == $agency.agency_id}seleced{/if}>{$agency.agency_name|escape:"html"}</option>
                {/foreach}
        </select></td>
    </tr>
    <tr>
        <th></th>
        <td>
            <input type="button" onclick="add();" value="{t}1407,_('追加'){/t}"/>
        </td>
    </tr>
</table>
</fieldset>
</form>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/pager.t.html"}

<form action="{$__frame.self}" name="delete_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="member_key" value="" />
<input type="hidden" name="temp" value="{$action}" />

<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1408,_('アクション'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td class="action">
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1411,_('全て選択'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1412,_('選択解除'){/t}" class="inputCalendar" onclick="all_clear();" /><br /><br />
<input type="button" value="{t}1413,_('戻る'){/t}" class="" onclick="javascript:history.back();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}