{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Add Room"}
{literal}
<script type="text/javascript">
<!--
function add(){
    if(confirm("{/literal}{t}1379,_('登録しますか？'){/t}{literal}")){
        document.add_form._action.name = "action_add_userplan_complete";
        document.add_form.submit();
    }
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="add_form" method="post">
<input type="hidden" name="_action" value="action_userplan_complete" />
<input type="hidden" name="add_form[user_key]" value="{$user_key}" />
<fieldset>
<legend>Add Form</legend>
<table>
    {if $message}
        <div class="required">
            <ul>
                <!-- start display errors -->
                {$message}
                <!-- end display errors -->
            </ul>
        </div>
    {/if}
    <tr>
        <td>{t}1380,_('プラン'){/t}</td>
        <td>
        <select name="add_form[service_key]" id="service_key">
        <option value="48">{t}1381,_('おてがるプラン'){/t}</option>
        <option value="49">{t}1382,_('使い放題プラン'){/t}</option>
        <option value="60">{t}000000,_('同時5拠点'){/t}{t}1125,_('プラン'){/t} ( {t}4685,_('サービスキー'){/t} : 60 ) </option>
        <option value="42">{t}000000,_('エントリー'){/t}{t}1125,_('プラン'){/t} ( {t}4685,_('サービスキー'){/t} : 42 ) </option>
        <option value="79">{t}000000,_('VCUBE Doctor スタンダード'){/t}{t}1125,_('プラン'){/t} ( {t}4685,_('サービスキー'){/t} : 79 ) </option>
        <option value="69">{t}1382,_('IT避難袋プラン'){/t}</option>
        </select>
        </td>
    </tr>
    <tr>
        <td>{t}1383,_('導入サポート'){/t}</td>
        <td><input type="checkbox" value=1 name="add_form[introduction]">{t}1384,_('利用'){/t}</td>
    </tr>
    <tr>
        <td>{t}1385,_('年間契約'){/t}</td>
        <td><input type="checkbox" name="add_form[user_plan_yearly]" value=1></td>
    </tr>
    <tr>
        <td>{t}1386,_('開始日'){/t}</td>
        <td><input type="text" id="add_user_plan_starttime" name="add_form[user_plan_starttime]" value="" />
            <button type="reset" id="add_user_plan_starttime_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'add_user_plan_starttime',
        button      : 'add_user_plan_starttime_btn',
        ifFormat    : '%Y/%m/%d 00:00:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        </td>
    </tr>
    <!-- >tr>
        <td>{t}1387,_('年間契約開始日'){/t}</td>
        <td><input type="text" id="add_user_plan_yearly_starttime" name="add_form[user_plan_yearly_starttime]" value="" />
            <button type="reset" id="add_user_plan_yearly_starttime_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'add_user_plan_yearly_starttime',
        button      : 'add_user_plan_yearly_starttime_btn',
        ifFormat    : '%Y/%m/%d 00:00:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        </td>
    </tr -->
    <tr>
        <th></th>
        <td>
            <input type="button" onclick="add();" value="{t}1388,_('追加'){/t}"/>
        </td>
    </tr>
</table>
</fieldset>
</form>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/pager.t.html"}

<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1389,_('アクション'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td class="action">
            <a href="?action_room_detail&amp;room_key={$row.room_key|escape:'html'}">{t}1390,_('詳細'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_delete&amp;key={$row.user_key|escape:'html'}">{t}1391,_('停止'){/t}</a>
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1392,_('全て選択'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1393,_('選択解除'){/t}" class="inputCalendar" onclick="all_clear();" /><br /><br />
<input type="button" value="{t}1394,_('戻る'){/t}" class="" onclick="javascript:history.back();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}