{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Add Room"}
{literal}
<script type="text/javascript">
<!--
function add(){
    if(confirm("{/literal}{t}1396,_('登録しますか？'){/t}{literal}")){
        document.add_form._action.name = "action_add_room_list_complete";
        document.add_form.submit();
    }
}
//-->
</script>

{/literal}
<form action="{$__frame.self}" name="add_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<fieldset>
<legend>Add Form</legend>
<table>
    {if $message}
        <div class="required">
            <ul>
                <!-- start display errors -->
                {$message}
                <!-- end display errors -->
            </ul>
        </div>
    {/if}
    <tr>
        <td>{t}1397,_('ユーザーID'){/t}</td>
        <td><input type="text" name="add_form[user_id]" size="10" value="" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('部屋名'){/t}</td>
        <td><input type="text" name="add_form[room_name]" size="10" value="" /></td>
    </tr>
    <tr>
        <td>{t}1399,_('プラン'){/t}</td>
        <td><select name="add_form[service_key]" id="service_key">
                {foreach from=$service_list item=service}
                <option value="{$service.service_key}">{$service.service_name|escape:"html"}</option>
                {/foreach}
        </select></td>
    </tr>
    <tr>
        <td>{t}1400,_('割引率'){/t}</td>
        <td><input type="text" name="add_form[discount_rate]" size="10" value="" /></td>
    </tr>
    <tr>
        <td>{t}1401,_('開始日'){/t}</td>
        <td><input type="text" id="add_room_starttime" name="add_form[room_starttime]" value="" />
            <button type="reset" id="add_room_starttime_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'add_room_starttime',
        button      : 'add_room_starttime_btn',
        ifFormat    : '%Y/%m/%d 00:00:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        </td>
    </tr>
    <tr>
        <th>{t}1402,_('年間契約'){/t}</td>
        <td><input type="checkbox" name="add_form[room_plan_yearly]" value=1>{t}1403,_('契約する'){/t}</td>
    </tr>
    <tr>
        <td>{t}1404,_('終了日'){/t}</td>
        <td><input type="text" id="add_room_plan_endtime" name="add_form[room_plan_endtime]" value="" />
            <button type="reset" id="add_room_plan_endtime_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'add_room_plan_endtime',
        button      : 'add_room_plan_endtime_btn',
        ifFormat    : '%Y/%m/%d 00:00:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        </td>
    </tr>
    <tr>
        <td>{t}4729,_('契約期間'){/t} ( {t}4730,_('月数'){/t} ) </td>
        <td><select name="add_form[contract_month_number]">
                <option value="0">{t}1406,_('なし'){/t}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>件数</td>
        <td><input type="text" name="count" size="10" value="" /></td>
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            <input type="button" onclick="add();" value="{t}1407,_('追加'){/t}"/>
        </td>
    </tr>
</table>
</fieldset>
</form>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}