{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Member Account"}
{literal}
<script type="text/javascript">
<!--
jQuery.noConflict();
var j$ = jQuery;

function add(){
    var endTime = new Date(j$("#option_end_time").val()).getTime();
    var startTime = new Date(j$("#option_start_time").val()).getTime();
    var nowTime = new Date().getTime();
    if(endTime) {
        if(startTime) {
            if(startTime >= endTime) {
                alert("End time is incorrect.");
                return false;
            }
        }else if ( nowTime >= endTime) {
            alert("End time is incorrect.");
            return false;
        }
    }
    if(confirm("{/literal}{t}1117,_('Are you sure to add?'){/t}{literal}")){
        document.add_form.submit();
    }
}

function option_delete( user_service_option_key ){
    if(confirm("{/literal}{t}1118,_('Are you sure to stop?'){/t}{literal}")){
        document.delete_form.user_service_option_key.value = user_service_option_key
        document.delete_form.submit();
    }
}

function plan_change(){
    if( confirm( "{/literal}{t}1119,_('Are you sure to modify?'){/t}{literal}" ) ){
        document.change_form.submit();
    }
}

function support_add(){
    if( confirm( "{/literal}{t}1120,_('Are you sure to add?'){/t}{literal}" ) ){
        document.add_support_form.submit();
    }
}

//-->
</script>
{/literal}
{if $account_model != "member" && $account_model != 'centre' && $model != "option"}
<form action="{$__frame.self}" name="change_form" method="post">
<input type="hidden" name="action_user_plan_change" value="" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="change_form[user_key]" value="{$user_key}" />
<input type="hidden" name="now_service_key" value="{$now_plan_info.service_key}" />
{if $sales_plan_list}
<input type="hidden" name="account_model" value="sales" />
{/if}
<div class="title">{t}1121,_('[Plan]'){/t}</div>
{if $authority != 0}
<fieldset>
<legend>{t}1122,_('Change Plan'){/t}</legend>
{if $message}
    <div class="required">
        <ul>
            <!-- start display errors -->
            {$message}
            <!-- end display errors -->
        </ul>
    </div>
{/if}
<table class="searchList">
<tr>
    <th>{t}1123,_('Current Plan'){/t}</th>
    <td>{if $now_plan_info.service_name}{$now_plan_info.service_name}{else}{t}1124,_('Unsigned'){/t}{/if}</td>
</tr>
<tr>
    <th>{t}1125,_('プラン'){/t}</th>
    <td>
        <select name="change_form[service_key]">
{if $user_info.account_model == 'member'}
            {foreach from=$member_service_list item=member_service}
                <option value="{$member_service.service_key}">{$member_service.service_name|escape:"html"} ( {t}4685,_('Service Key'){/t} : {$member_service.service_key} ) </option>
            {/foreach}
{elseif $user_info.account_model == 'centre'}
    {foreach from=$centre_plan_list item=centre_plan}
            <option value="{$centre_plan.service_key}">{$centre_plan.service_name|escape:"html"} ( {t}4685,_('Service Key'){/t} : {$centre_plan.service_key} ) </option>
    {/foreach}
{elseif $sales_plan_list}
    {foreach from=$sales_plan_list item=sales_plan}
            <option value="{$sales_plan.service_key}">{$sales_plan.service_name|escape:"html"} ( {t}4685,_('Service Key'){/t} : {$sales_plan.service_key} ) </option>
    {/foreach}
{/if}
        </select>
    </td>
</tr>
<tr>
    <th>{t}1128,_('Discount Rate'){/t}</th>
    <td><input type="text" name="change_form[discount_rate]" size="10" value="" /></td>
</tr>
<tr>
    <th>{t}1129,_('Plan Start Time'){/t}</th>
    <td>
        <input type="text" id="user_plan_starttime" name="change_form[user_plan_starttime]" value="" />
        <button type="reset" id="user_plan_starttime_btn">Cal</button>
        <script type="text/javascript">
            Calendar.setup({literal}{{/literal}
                inputField  : 'user_plan_starttime',
                button      : 'user_plan_starttime_btn',
                ifFormat    : '%Y/%m/%d 00:00:00',
                showsTime   : true,
                singleClick : true,
                weekNumbers : true,
                cache       : true
            {literal}}{/literal});
        </script>
    </td>
</tr>
<tr>
    <th>{t}1130,_('Yearly Contract'){/t}</td>
    <td><input type="checkbox" name="change_form[user_plan_yearly]" value=1>{t}1131,_('Sign'){/t}</td>
</tr>
<tr>
    <th>{t}1132,_('Plan End Time'){/t}</th>
    <td>
        <input type="text" id="user_plan_endtime" name="change_form[user_plan_endtime]" value="" />
        <button type="reset" id="user_plan_endtime_btn">Cal</button>
        <script type="text/javascript">
            Calendar.setup({literal}{{/literal}
                inputField  : 'user_plan_endtime',
                button      : 'user_plan_endtime_btn',
                ifFormat    : '%Y/%m/%d 00:00:00',
                showsTime   : true,
                singleClick : true,
                weekNumbers : true,
                cache       : true
            {literal}}{/literal});
        </script>
    </td>
</tr>
<tr>
    <th>{t}4687,_('Contract Term'){/t} ( {t}4688,_('Month'){/t} ) </th>
    <td><select name="change_form[contract_month_number]">
            <option value="0">{t}1134,_('none'){/t}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </td>
</tr>
<tr>
    <th></th>
    <td>
        <input type="button" onclick="plan_change();" value="{if 0<$user_plan_list|@count}{t}1135,_('Modify'){/t}{else}{t}4689,_('Sign'){/t}{/if}"/>
    </td>
</tr>
</table>
</form>
</fieldset>
<br />
<fieldset {if $sales_plan_list}style="display:none"{/if}>
<legend>{t}1136,_('Installation Support'){/t}</legend>
<table class="searchList">
<form action="{$__frame.self}" name="add_support_form" method="post">
<input type="hidden" name="action_user_support_add" value="" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="add_form[user_key]" value="{$user_key}" />
<tr>
    <th>{t}1137,_('Current Contract Number'){/t}</th>
    <td>{$support_num|default:'0'}</td>
</tr>
<tr>
    <th>{t}1138,_('Add New Support'){/t}</th>
    <td>
        <select name="add_form[support_num]">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </td>
</tr>
<tr>
    <th></th>
    <td>
        <input type="button" onclick="support_add();" value="{t}1139,_('Add'){/t}"/>
    </td>
</tr>
</table>
</fieldset>
<br />
{/if}
<table class="searchList">
<thead>
    <tr>
        {foreach from=$user_plan_columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_plan={$key}&amp;sort_type_plan=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_plan={$key}&amp;sort_type_plan=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$user_plan_list item=data}
    <tr>
        {foreach from=$user_plan_columns key=key item=colum}
        <td>{$data[$key]|escape:'html'}
            {if $colum.item.relation_data}
                {foreach from=$data[$key] item=value}
                    {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
                {/foreach}
            {elseif $colum.item.select}
                {foreach from=$colum.item.select item=select}
                    {if $select.value == $data[$key]} ( {$select.data|escape:'html'} ) {/if}
                {/foreach}
            {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
</form>
{/if}
<br />
{if !$sales_plan_list}
<div class="title">{t}1140,_('[Option]'){/t}</div>
{if $authority != 0}
<form action="{$__frame.self}" name="add_form" method="post">
<input type="hidden" name="action_user_serviceoption_add" value="" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="add_form[user_key]" value="{$user_key}" />
{if $model == "option"}
    <input type="hidden" name="add_form[account_model]" value="option" />
{/if}
<fieldset>
<legend>{t}1141,_('Add Option'){/t}</legend>
<table class="searchList">
<tr>
    <th>{t}1142,_('Option Key'){/t}</th>
    <td>
        <select name="add_form[service_option_key]">
{if $user_info.account_model == 'member'}
            {foreach from=$service_option item=option}
                <option value="{$option.service_option_key}">{$option.service_option_name} ( {t}1142,_('Option Key'){/t} : {$option.service_option_key} ) </option>
            {/foreach}
{elseif $user_info.account_model == 'centre' && $model != "option"}
            <option value="2">meeting_ssl ( {t}1142,_('Option Key'){/t} : 2 ) </option>
            <option value="3">desktop_share ( {t}1142,_('Option Key'){/t} : 3 ) </option>
            <option value="4">hdd_extention ( {t}1142,_('Option Key'){/t} : 4 ) </option>
            <option value="5">high_quality ( {t}1142,_('Option Key'){/t} : 5 ) </option>
            <option value="6">mobile_phone ( {t}1142,_('Option Key'){/t} : 6 ) </option>
            <option value="8">h323_client ( {t}1142,_('Option Key'){/t} : 8 ) </option>
            <option value="19">telephone ( {t}1142,_('Option Key'){/t} : 19 ) </option>
            <option value="20">record_gw ( {t}1142,_('Option Key'){/t} : 20 ) </option>
            <option value="21">smartphone ( {t}1142,_('Option Key'){/t} : 21 ) </option>
            <option value="22">whiteboard_video ( {t}1142,_('Option Key'){/t} : 22 ) </option>
{else}
            {foreach from=$service_option item=option}
                <option value="{$option.service_option_key}">{$option.service_option_name} ( {t}1142,_('Option Key'){/t} : {$option.service_option_key} ) </option>
            {/foreach}
{/if}
        </select>
    </td>
</tr>
<tr>
    <th>{t}1145,_('Start Time'){/t}</th>
    <td>
        <input type="text" id="option_start_time" name="add_form[user_service_option_starttime]" value="" />
        <button type="reset" id="option_start_time_btn">Cal</button>
        <script type="text/javascript">
            Calendar.setup({literal}{{/literal}
                inputField  : 'option_start_time',
                button      : 'option_start_time_btn',
                ifFormat    : '%Y/%m/%d 00:00:00',
                showsTime   : true,
                singleClick : true,
                weekNumbers : true,
                cache       : true
            {literal}}{/literal});
        </script>
    </td>
</tr>
<tr>
    <th>{t}1145,_('End Time'){/t}</th>
    <td>
        <input type="text" id="option_end_time" name="add_form[user_service_option_expiredatetime]" value="" />
        <button type="reset" id="option_end_time_btn">Cal</button>
        <script type="text/javascript">
            Calendar.setup({literal}{{/literal}
                inputField  : 'option_end_time',
                button      : 'option_end_time_btn',
                ifFormat    : '%Y/%m/%d 23:59:59',
                showsTime   : true,
                singleClick : true,
                weekNumbers : true,
                cache       : true
            {literal}}{/literal});
        </script>
    </td>
</tr>
<tr>
    <th></th>
    <td>
        <input type="button" onclick="add();" value="{t}1146,_('Add'){/t}"/>
    </td>
</tr>
</table>
</fieldset>
</form>
<br />
{/if}

<form action="{$__frame.self}" name="delete_form" method="post">
<input type="hidden" name="action_user_serviceoption_delete" value="" />
<input type="hidden" name="user_service_option_key" value="" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="user_key" value="{$user_key}" />
{if $model == "option"}
    <input type="hidden" name="account_model" value="option" />
{/if}
<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1147,_('Action'){/t}</th>
        {foreach from=$option_columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_option={$key}&amp;sort_type_option=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_option={$key}&amp;sort_type_option=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$option_data item=data}
    <tr>
        <td class="action">{if $data.user_service_option_status != 0 && $authority != 0}
        <a href="javascript:option_delete( {$data.user_service_option_key} )">{t}1148,_('Stop'){/t}</a>{/if}</td>
        {foreach from=$option_columns key=key item=colum}
        <td>{$data[$key]|escape:'html'}
            {if $colum.item.relation_data}
                {foreach from=$data[$key] item=value}
                    {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
                {/foreach}
            {elseif $colum.item.select}
                {foreach from=$colum.item.select item=select}
                    {if $select.value == $data[$key]} ( {$select.data|escape:'html'} ) {/if}
                {/foreach}
            {/if}</td>
        {/foreach}

    </tr>
    {/foreach}
</tbody>
</table>
{/if}
<br />
<input type="button" onClick="history.back();" value="{t}1149,_('Back'){/t}"/>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}