{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Add Member"}
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>{t}1211,_('メンバー名'){/t}</th>
            <th>{t}1211,_('メンバーPW'){/t}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{$member_name|escape:"html"}</td>
            <td>{$member_pass|escape:"html"}</td>
        </tr>
    </tbody>
    </table>

    <br />

    <a href="paperless.php?action_list&amp;sort_key=member_key&amp;check=member_id&amp;sort_type=desc&amp;reset=1" target="contents">一覧へ戻る</a>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}