{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Manage Member"}
{t 1=$result.ok}4704,_('登録件数 : %1$s件'){/t}<br />
{t 1=$result.ng}4706,_('失敗件数 : %1$s件'){/t}
成功リスト
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>no</th>
            <th>{t}1211,_('メンバーID'){/t}</th>
            <th>{t}1212,_('パスワード'){/t}</th>
            <th>{t}1213,_('名前'){/t}</th>
            <th>{t}1213,_('名前'){/t} ( {t}4703,_('ふりがな'){/t} ) </th>
            <th>{t}1215,_('Eメール'){/t}</th>
            <th>{t}1216,_('グループ名'){/t}</th>
            <th>{t}1217,_('グループKEY'){/t}</th>
            <th>timezone</th>
            <th>lang</th>
            <th>member_type</th>
            <th>room_key</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$ok_member_list key=i item=row}
        <tr>
            <td></td>
            <td>{$row.member_id|escape:"html"}</td>
            <td>{if $row.member_pass}{$row.member_pass|escape:"html"}{else}{if $smarty.request.auto_pw == 1}<span class="attention">(自動)</span>{/if}{/if}</td>
            <td>{$row.member_name|escape:"html"}</td>
            <td>{$row.member_name_kana|escape:"html"}</td>
            <td>{$row.member_email|escape:"html"}</td>
            <td>{$row.member_group_name|escape:"html"}</td>
            <td>{if $row.member_group}{$row.member_group|escape:"html"}{else}{if $row.member_group_name && $smarty.request.auto_group == 1}<span class="attention">(自動登録)</span>{/if}{/if}</td>
            <td>{$row.timezone|escape:"html"}</td>
            <td>{$row.lang|escape:"html"}</td>
            <td>{$row.member_type|escape:"html"}</td>
            <td>{$row.room_key|escape:"html"}</td>
        </tr>
    {/foreach}
    </tbody>
    </table>
失敗リスト
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>no</th>
            <th>{t}1211,_('メンバーID'){/t}</th>
            <th>{t}1212,_('パスワード'){/t}</th>
            <th>{t}1213,_('名前'){/t}</th>
            <th>{t}1213,_('名前'){/t} ( {t}4703,_('ふりがな'){/t} ) </th>
            <th>{t}1215,_('Eメール'){/t}</th>
            <th>{t}1216,_('グループ名'){/t}</th>
            <th>{t}1217,_('グループKEY'){/t}</th>
            <th>timezone</th>
            <th>lang</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$ng_member_list key=i item=row}
        <tr>
            <td>{$i+1}</td>
            <td>{$row.member_id|escape:"html"}</td>
            <td>{if $row.member_pass}{$row.member_pass|escape:"html"}{else}{if $smarty.request.auto_pw == 1}<span class="attention">(自動)</span>{/if}{/if}</td>
            <td>{$row.member_name|escape:"html"}</td>
            <td>{$row.member_name_kana|escape:"html"}</td>
            <td>{$row.member_email|escape:"html"}</td>
            <td>{$row.member_group_name|escape:"html"}</td>
            <td>{if $row.member_group}{$row.member_group|escape:"html"}{else}{if $row.member_group_name && $smarty.request.auto_group == 1}<span class="attention">(自動登録)</span>{/if}{/if}</td>
            <td>{$row.timezone|escape:"html"}</td>
            <td>{$row.lang|escape:"html"}</td>
        </tr>
    {/foreach}
    </tbody>
    </table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}