{literal}
<script type="text/javascript">
<!--
function add(){
    if(confirm("{/literal}{t}1103,_('Are you sure to add?'){/t}{literal}")){
        document.add_form._action.name = "action_datacenter_ignore_add";
        document.add_form.submit();
    }
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="add_form"  method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="after_action" value="{if $page.after_action}{$page.after_action}{else}{$page.action}{/if}" />
<input type="hidden" name="error_action" value="{$page.action}" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<fieldset>
<legend>Add Form</legend>
<table>
<tr>
    <td>User ID
    {if $user_id}
    </td><td>{$user_id}
        <input type="hidden" name="add_form[session_user_id]" value="{$user_id}">
        {if $required.user_id}<br /><span class="required">{$message.required}</span>{/if}
        {if $message.user_id}<br /><span class="required">{$message.$key}</span>{/if}
    {else}
    <span class="required">*</span>
    </td>
    <td>
        <input type="text" name="add_form[user_id]" value="{$before_user_id}">
        {if $required.user_id}<br /><span class="required">{$message.required}</span>{/if}
        {if $message.user_id}<br /><span class="required">{$message.$key}</span>{/if}
    {/if}
    </td>
</tr><tr>
    <td>{t}999922,_('DataCenter Key'){/t}</td>
    <td>
        <select name="add_form[datacenter_key]">
            {foreach from=$datacenterkeys key=key item=name}
                <option value="{$key}" {if $before_datacenter_key == $key}selected="1"}{/if}>
                {$datacenter_key}{$key|escape:"html"}: {$name}
                </option>
            {/foreach}
        </select>
        {if $required.datacenter_key}<br /><span class="required">{$message.required}</span>{/if}
        {if $message.datacenter_key}<br /><span class="required">{$message.$key}</span>{/if}
    </td>
</tr><tr>
    <tr>
        <th></th>
        <td>
            <input type="button" onclick="add();" value="{t}1107,_('Add'){/t}"/>
        </td>
    </tr>
</table>
</fieldset>
</form>
