{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Add User"}
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>{t}1211,_('Company Name'){/t}</th>
            <th>{t}1211,_('User PW'){/t}</th>
            <th>{t}1212,_('Admin PW'){/t}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{$user_company_name|escape:"html"}</td>
            <td>{$user_password|escape:"html"}</td>
            <td>{$user_admin_password|escape:"html"}</td>
        </tr>
    </tbody>
    </table>

    <br />

    <a href="paperless.php?action_list&amp;sort_key=user_key&amp;check=user_id&amp;sort_type=desc&amp;reset=1" target="contents">Back to List</a>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}