{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage User"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1415,_('Search'){/t}</span></a></li>
        {if $authority != 0}<li><a href="#fragment2"><span>{t}1416,_('Entry'){/t}</span></a></li>{/if}
        {if $authority != 0}<li><a href="auto.php#fragment1"><span>{t}1417,_('Entry Users'){/t}</span></a></li>{/if}
        {if $authority != 0}<li><a href="auto_expire.php#fragment1"><span>{t}991417,_('Stop Reservations'){/t}</span></a></li>{/if}
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form2.t.html"}
    </div>
    <div id="fragment2">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/insert.t.html"}
    </div>
    <div id="fragment3">
        <a href="auto.php">{t}1417,_('Entry All'){/t}</a>
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}
{literal}
<script type="text/javascript">
<!--
function user_delete(user_key){
    if(confirm("{/literal}{t}1419,_('Are you sure to stop?'){/t}{literal}")){
        document.delete_form._action.name = "action_delete_user";
        document.delete_form.user_key.value = user_key;
        document.delete_form.submit();
    }
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="delete_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="user_key" value="" />
<input type="hidden" name="temp" value="{$action}" />
<input type="hidden" name="type" value="{$type}" />
<input type="hidden" name="table" value="{$table}" />
</form>
<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th class="action">{t}1420,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td class="action">
            {if $authority != 0}<a href="?action_modify&amp;type=data&amp;table=user&amp;key=user_key&amp;value={$row.user_key|escape:'html'}&amp;uptime=user_updatetime">{t}1421,_('Modify'){/t}</a>&nbsp;|&nbsp;
            {if $row.user_delete_status != "2"}<a href="?action_delete_user&amp;type=data&amp;key=user_key&amp;value={$row.user_key|escape:'html'}" onclick="return confirm('{t}1419,_('Are you sure to stop?'){/t}')">{t}1423,_('Stop'){/t}</a>&nbsp;|&nbsp;{/if}{/if}
            {if $row.user_status != "3"}
            <a href="?action_list&amp;table=room&amp;type=data&amp;sort_key=room_key&amp;form[user_key]={$row.user_key|escape:'html'}">{t}1424,_('Room List'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_list&amp;table=member&amp;type=data&amp;sort_key=member_key&amp;form[user_key]={$row.user_key|escape:'html'}">{t}1425,_('Member List'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_datacenter_priority_sort&amp;user_key={$row.user_key|escape:'html'}">{t}828,_('DC Priority'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_datacenter_list&amp;table=datacenter_ignore&amp;type=data&amp;form[user_key]={$row.user_key|escape:'html'}&amp;sort_key=datacenter_ignore_key">{t}828,_('DC Deny'){/t}</a>
            <br />
            {if $authority != 0}{if $row.user_delete_status != "2"}{if $row.account_model != "centre"}<a href="?action_add_room&amp;user_key={$row.user_key|escape:'html'}">{t}1426,_('Add Room'){/t}</a>&nbsp;|&nbsp;{/if}{/if}{/if}
            {if $authority != 0}{if $row.user_delete_status != "2"}<a href="?action_add_member&amp;user_key={$row.user_key|escape:'html'}">{t}1426,_('Add Member'){/t}</a>&nbsp;|&nbsp;{/if}{/if}
            {if $row.account_model == "member" || $row.account_model == "centre" }<a href="?action_individual&amp;type=data&amp;user_key={$row.user_key|escape:'html'}">{t}1427,_('Member Account Model'){/t}</a>&nbsp;|&nbsp;{/if}
            {if $row.use_sales}<a href="?action_individual&amp;type=data&amp;user_key={$row.user_key|escape:'html'}&amp;model=sales">{t}1427,_('Sales Account Model'){/t}</a>&nbsp;|&nbsp;{/if}
            {if $row.intra_fms == 1 }<a href="?action_intra_fms&amp;type=data&amp;user_key={$row.user_key|escape:'html'}">{t}1428,_('intrafms List'){/t}</a>&nbsp;|&nbsp;{/if}
            {/if}
            <a href="?action_individual&amp;type=data&amp;user_key={$row.user_key|escape:'html'}&amp;model=option">{t}1427,_('User Option'){/t}</a>&nbsp;|&nbsp;
            {if $row.user_delete_status != "2" && $row.user_deletetime == "0000-00-00 00:00:00" || $row.user_deletetime >= $smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}<a href="?action_service_login&amp;id={$row.user_id|escape:'html'}&amp;type=user" target="_blank">{t}1429,_('Login'){/t}</a>{/if}
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1430,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1431,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}