/* ================================================== */

/*  カレンダー  */

/* ================================================== */


/* -------------------------------------------- */
/*  container   */
/* -------------------------------------------- */

.cal-container {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow:hidden;
  position:absolute;
  width: 200px;
  z-index: 10;
}

.cal-container iframe {
  border:none;
  height:100%;
  left:0px;
  margin:0;
  padding:0;
  position:absolute;
  top:0px;
  width:100%;
  z-index:0;
}


/* -------------------------------------------- */
/*  calendar   */
/* -------------------------------------------- */

.cal-header {
  background-color: #d5e9fd;
  color: #313131;
  text-align: center;
  padding: 3px;
}

.cal-body {
  padding: 5px;
  text-align: center;
}

.cal-body th {
	background-color: #fff;
  color: #313131;
}

.cal-body th, 
.cal-body td {
		border: 1px solid #fff;
		text-align: center;
		padding: 1px;
}

/*
th, td {
		padding: 5px;
		font-weight: normal;
		border: 1px solid #999999;
}

th {
		background-color: #6491ad;
		color: #FFF;
		text-align: center;
}
*/


.cal-otherday a {
	color: #ccc!important;
}

.cal-holiday a,
.cal-label-row .cal-sunday,
.cal-sunday a {
	color: #ff3333!important;
}

.cal-label-row .cal-saturday,
.cal-saturday a {
	color: #0033cc!important;
}

.cal-day-cell {
  height: 21px;
  line-height: 1.7;
  width: 14%;
}

.cal-select-year {
  width: 4em;
	margin-right: 3px;
}
.cal-select-month {
  width: 3em;
	margin: 0 3px;
}

/* -------------------------------------------- */
/*  link   */
/* -------------------------------------------- */

.cal-next-btn {
  padding-bottom:4px;
  padding-left:8px;
  color: #313131;
  cursor: pointer;
}

.cal-prev-btn {
  padding-bottom:4px;
  padding-right:8px;
  color: #313131;
  cursor: pointer;
}

.cal-day-cell a {
  color: #313131;
  display:block;
}

.cal-day-cell a:hover {
  background-color: #2583ad!important;
	color: #fff!important;
  text-decoration: none;
}


.cal-selected {
  color: #ADAAB5;
  font-weight: bold;
  text-align: center;
}

.cal-day-cell a:link.cal-selected,
.cal-day-cell a:visited.cal-selected,
.cal-day-cell a:active.cal-selected {
	background-color: #ddd;
  display:block;
  text-decoration: none;
}

