@charset "UTF-8";


/*--------------------------------------------------

ボタンレイアウト

--------------------------------------------------*/

.btn-area {
width: 100%;
text-align: center;
margin: 0;
padding: 10px 0 15px;
}
.btn-area fieldset {
display: inline;
}
.btn-area div {
display: inline;
margin: 0;
padding: 0;
}
.btn-area-inner {
width: 100%;
text-align: center;
margin-bottom: 40px;
padding: 10px 0 15px;
}
#submitSection,
#returnSection {
text-align: center;
margin: 0;
padding: 10px 10px 15px;
}

/* テーブル内のボタン */
table td span.button {
margin-top: 2px!important;
margin-bottom: 2px !important;
}
td span.button25 {
margin: 0 1px 0 5px;
}
td span.button22 {
margin: 0 0 0 4px;
}

.btn-primary {
	float: right;
}
.btn-secondary {
	float: left;
}

/* -------------------------------------------- */
/* アイコンデザイン　*/
/* -------------------------------------------- */

/* アイコンとの距離感　*/
a.button .button-inner span.icon,
span.button .button-inner input.icon {
padding-left: 28px;
}

.button .icon {
background-position: 6px 8px;
}

/* →（黄）*/
.button .i-go {
background-image: url(../images/btn_icons/go.gif);
}
/* ←（グレー）*/
.button .i-return {
background-image: url(../images/btn_icons/return.gif);
}
/* ＋（オレンジ）*/
.button .i-add {
background-image: url(../images/btn_icons/add.gif);
}
/* sales */
.sales .button .i-add {
background-image: url(../images/btn_icons/add_sales.gif);
}
/* ｘ（赤）*/
.button .i-del {
background-image: url(../images/btn_icons/del.gif);
}
/* ↓（黄）-ダウンロード */
.button .i-dl {
background-image: url(../images/btn_icons/dl.gif);
}
/* アドレス帳 */
.button .i-address {
background-image: url(../images/btn_icons/address.gif);
}
/* 映像 */
.button .i-movie {
background-image: url(../images/btn_icons/movie.gif);
}
/* 議事録 */
.button .i-notes {
background-image: url(../images/btn_icons/notes.gif);
}
/* サジェスト */
.button .i-suggest {
background-image: url(../images/btn_icons/suggest.png);
font-family: monospace;
padding-left: 23px!important;
}
/* ロック */
.button .i-lock {
background-image: url(../images/btn_icons/lock.gif);
}
/* →（黄）22cm */
.button .i-go22 {
background-image: url(../images/btn_icons/go22.gif);
}
/* ｘ（赤）22cm */
.button .i-del22 {
background-image: url(../images/btn_icons/del22.gif);
}
/* サービス切替 22cm */
.button .i-change22 {
background-image: url(../images/btn_icons/change22.png);
}
/* 個人設定 */
.button .i-personal {
background-image: url(../images/btn_icons/personal.png);
}
/* ie6 */
* html .button .i-personal {
background-image: url(../images/btn_icons/personal.gif);
}

/* 検索 */
.button .i-search {
background-image: url(../images/btn_icons/search.gif);
}

/* アンケート */
.button .i-enq {
background-image: url(../images/btn_icons/enq.gif);
}

/* 管理資料　共有
.button .i-share {
background-image: url(../images/btn_icons/share.gif);
}
.b-poplayer_off .i-share{
background-image: url(../images/btn_icons/share2.gif);
}*/
/* 管理資料　個人
.button .i-private {
background-image: url(../images/btn_icons/private.gif);
}
.b-poplayer_off .i-private{
background-image: url(../images/btn_icons/private2.gif);
}*/
/* 管理資料　フォルダ */
.button .i-folder {
background-image: url(../images/btn_icons/folder.gif);
}
/* 管理資料　削除
.button .i-trash {
background-image: url(../images/btn_icons/trash.gif);
background-position: 7px 7px !important;
}*/
/* 管理資料　アップロード */
.button .i-upload {
background-image: url(../images/btn_icons/upload.gif);
padding-left: 50px !important;
background-position: 26px 8px;
}
/* 管理資料　その他 */
.button .i-more {
background-image: url(../images/open_arrow.gif);
background-position: right 8px !important;
padding-right:15px !important;
padding-left:3px !important;
}
/* -------------------------------------------- */
/* ボタンデザイン共通(32cm)　*/
/* -------------------------------------------- */

a.button,
span.button,
.button-inner {
background-image: url(../images/btn_bg32.gif);
}

a.button,
span.button {
display: -moz-inline-box;
display: inline-block;
background-color: transparent !important;
background-position: 100% 0;
background-repeat: no-repeat;
border: none;
text-decoration: none;
height: 32px;
cursor: pointer;
/* ボタン左右のマージン10px（ずらしてる差が2px） */
margin: 0 8px 0 12px;
}

.button-inner {
display: -moz-inline-box;
display: inline-block;
background-color: transparent !important;
background-position: 0 0;
background-repeat: no-repeat;
position: relative;
left: -4px;
font-weight: bold;
}

a.button span.icon,
span.button input {
display: -moz-inline-box;
display: inline-block;
background-color: transparent !important;
background-repeat: no-repeat;
border: none;
cursor: pointer !important;
white-space: nowrap;
font-weight: bold;
font-size: 100%;
color: #222;
height: 32px;
line-height: 32px;
margin: 0;
position: relative;
right: -2px;
}

/* 文字の右左 */
a.button span.btnin,
span.button input {
padding: 0 10px;
}
html[xmlns*=""] body:last-child span.button input {
padding-top: 1px;
}

/* ie6,7に適用、8は必要なし */
* html span.button input {
overflow: visible;
width: 0;
}
*:first-child+html span.button input {
overflow: visible;
}

/* ----------------------------------------------- */
/* Hover Style */
/* ----------------------------------------------- */


a.button:hover .button-inner,
a.button:focus .button-inner,
.button-inner:hover,
.button-inner:focus {
background-position: 0 -32px;
}

a.button:hover,
a.button:focus,
span.button:focus,
span.button:hover {
background-position: 100% -32px;
}


/* -------------------------------------------- */
/* ボタンデザイン(25cm)　*/
/* -------------------------------------------- */

/* アイコンとの距離感　*/
a.button25 .button-inner span.icon,
span.button25 .button-inner input.icon {
padding-left: 25px;
}
#docs a.button25 .button-inner span.icon {
padding-left: 10px;
}
#docs a.button25 .button-inner span#no-icon {
padding: 0 10px;
}


.button25 .icon {
background-position: 4px 5px;
}

a.button25,
a.button25 .button-inner,
span.button25,
span.button25 .button-inner {
background-image: url(../images/btn_bg25.gif);
}
a.button25,
span.button25 {
height: 25px;
/* ボタン左右のマージン3px（ずらしてる差が2px） */
margin: 0 1px 0 5px;
}
#docs a.button25 {
margin: 0 3px 0 5px;
}

a.button25 span.btnin,
span.button25 input {
height: 25px;
line-height: 25px;
font-size: 90%;
}
/* 文字の右左 */
a.button25 span.btnin,
span.button25 input {
padding: 0 7px;
}

/* -------------------------------------------- */
/* ボタンデザイン(22cm)　*/
/* -------------------------------------------- */

/* アイコンとの距離感　*/
a.button22 .button-inner span.icon,
span.button22 .button-inner input.icon {
padding-left: 20px;
}

.button22 .icon {
background-position: 3px 3px;
}

a.button22,
a.button22 .button-inner,
span.button22,
span.button22 .button-inner {
background-image: url(../images/btn_bg22.gif);
}
a.button22,
span.button22 {
height: 22px;
/* ボタン左右のマージン3px（ずらしてる差が2px） */
margin: 0 0px 0 4px;
}

a.button22 span.btnin,
span.button22 input {
height: 22px;
line-height: 22px;
font-size: 85%;
}
/* 文字の右左 */
a.button22 span.btnin,
span.button22 input {
padding: 0 4px;
}
* html span.button22 input {
padding-bottom: 1px;
}

/* -------------------------------------------- */
/* ボタンデザイン青(22cm)　*/
/* -------------------------------------------- */
a.b22-blue,
a.b22-blue .button-inner,
span.b22-blue,
span.b22-blue .button-inner {
background-image: url(../images/btn_bg22_blue.gif);
}

/* -------------------------------------------- */
/* ボタンデザイン-モード切替(22cm)　*/
/* -------------------------------------------- */
span.b22-mode input {
font-weight: normal;
font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", Microsoft Yahei, Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", Arial, Helvetica, sans-serif;
}
span.b22-mode .button-inner {
left: -3px;
z-index: 99;
}
span.b22-mode .button-inner input.icon {
background-position: 4px 4px;
}


#btn-mode {
float: left;
margin-top: 22px;
margin-left: 5px;
}

/* -------------------------------------------- */
/* シェアリング２　*/
/* -------------------------------------------- */

/* disable時のid
 *
 * #start-button,#stop-button 				-> #sharing-button-disable
 * #start-button-inner,#stop-button-inner 	-> #sharing-button-inner-disable
 *
 */

span#start-button,
span#start-button-inner {
background-image: url(../images/ViwerButtonDisable00.gif);
display: -moz-inline-box;
display: inline-block;
background-color: transparent !important;
background-repeat: no-repeat;
border: none;
text-decoration: none;
height: 47px;
cursor: pointer;
}

span#stop-button,
span#stop-button-inner {
background-image: url(../images/ViwerButtonDisable00.gif);
display: -moz-inline-box;
display: inline-block;
background-color: transparent !important;
background-repeat: no-repeat;
border: none;
text-decoration: none;
height: 47px;
cursor: pointer;
}


span#start-button,
span#stop-button,
span#sharing-button-disable {
background-position: left;
}
span#start-button,
span#sharing-button-disable {
	margin-right: 20px;
}

span#start-button-inner,
span#stop-button-inner,
span#sharing-button-inner-disable {
background-position: right;
margin: 0 0px 0 30px;
}

span#start-button-inner a,
span#stop-button-inner a,
span#sharing-button-inner-disable a {
padding: 0 30px 0 0;
display: table-cell;
color: #000;
font-size: 130%;
text-decoration: none;
vertical-align: middle;
height: 47px;
*position: relative; /*for IE6,7 */
*top: 12px; /*for IE6,7 */
}

span#sharing-button-inner-disable a {
    color: #666;
}



span#sharing-button-disable,
span#sharing-button-inner-disable {
background-image: url(../images/ViwerButtonDisable00.gif);
display: -moz-inline-box;
display: inline-block;
background-color: transparent !important;
background-repeat: no-repeat;
border: none;
text-decoration: none;
height: 47px;
cursor: pointer;
}




