@charset "UTF-8";
/* ================================================== */

/*  Basic Tag Format  */

/* ================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img,iframe {
    border: 0;
    vertical-align: top;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}

ol,ul {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after {
    content:'';
}

abbr,acronym {
    border: 0;
}


/* ================================================== */

/*  Base  */

/* ================================================== */

body {
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", "Meiryo",
"Osaka", Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 1.5;
        color: #333;
        background: url(/shared/images/centre/body_bg.gif) 0 0 repeat-x;
        background-color: #fff;
        position: relative;
}

/* for WinIE7 */
*:first-child+html body {
    font-size: 75%;
}

/* for WinIE6 */
* html body {
    font-size: 75%;
}

/* -------------------------------------------- */
/*  link   */
/* -------------------------------------------- */

a {
        text-decoration: underline;
        color: #029dd0;
        outline: none;
}

a:hover {
        text-decoration: none;
        color: #01d1f6;
}


/* -------------------------------------------- */
/*  form   */
/* -------------------------------------------- */

form {
        display: inline;
}

input, select, textarea {
        font-family: inherit;
        font-size: inherit;
        vertical-align: middle;
}

input[type="text"],
input[type="password"],
textarea {
        border:3px solid #999999;
        padding: 5px;
}

textarea {
        width:100%;
        /width: 99%; /*IE6,7ハック*/
        line-height:1.25;
}

label {
        cursor:pointer;
        margin-left: 3px;
}


/* -------------------------------------------- */
/*  table   */
/* -------------------------------------------- */

table {
        width: 50%;
        border-collapse: collapse;
        margin: 0 auto;
}

th, td {
        padding: 8px;
        font-weight: normal;
        border: none;
        vertical-align: middle;
}
th {
    text-align: right;
    padding-right: 10px;
}
td {
    text-align: left;
    padding-left: 10px;
}



/* -------------------------------------------- */
/*  Base Common   */
/* -------------------------------------------- */

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-table;
    min-height: 1%;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/* ================================================== */

/*  common  */

/* ================================================== */


/* -------------------------------------------- */
/*  レイアウト   */
/* -------------------------------------------- */

body {
    background: url(/shared/images/centre/pw-bg.gif) repeat-x;
}

#wrapper {
    width: 1500px;
    margin: 130px auto;
    text-align: center;
}

#logo {
    margin-bottom: 110px;
}

.lead {
    font-size: 32px;
    color: #333333;
    margin-bottom: 120px;
}

.pw {
    margin-bottom: 190px;
    vertical-align:middle;
}

.pw span {
    font-size: 28px;
    color: #666666;
}
.input-pw {
    width: 450px;
    font-size: 33px;
    border: 2px solid #666666;
}


.btn-back {
    background-color: transparent !important;
    background-image:url(/shared/images/centre/btn-back.gif);
    display:inline-block;
    border: none;
    font-size: 28px;
    color: #ffffff;
    height: 80px;
    cursor: pointer;
    width: 204px;
}
.btn-submit {
    background-color: transparent !important;
    background-image:url(/shared/images/centre/btn-submit.gif);
    display:inline-block;
    border: none;
    font-size: 28px;
    color: #ffffff;
    height: 80px;
    cursor: pointer;
    width: 314px;
}

.btn-back:hover {
    background-position: 0 -90px;
}
.btn-submit:hover {
    background-position: 0 -90px;
}

.btn-back {
    margin-right: 150px;
}
.alert {
    color: #ff0000;
    font-size: 28px;
   }
