@charset "UTF-8";

/* ================================================== */

/*  アウトバウンド  */

/* ================================================== */


#mypage .support-info {
display: none;
}

#mypage #wrapper {
position: relative;
}
#mypage #inner-col {
margin-top: -15px;
}

.login_select {
position: absolute;
float: right;
top: -100px;
right: 0;
}
.login_select p {
float: left;
padding-left: 15px;
}



.mypage-block {
  margin: 0 auto;
}


#mypage #comment-sec {
float:right;
margin-bottom:10px;
width:410px;
}
#comment-sec .title {
font-size: 135%;
margin-bottom: 10px;
}


#mypage #contact-col {
background: transparent url("../../lang/ja_JP/images/sales/main_bg_bottom.gif") left bottom no-repeat;
float:left;
width:470px;
}

#mypage #pix-sec {
padding-bottom: 15px;
text-align: center;
width: auto;
}


#mypage .eco-description {
width: 470px;
padding: 15px 0 10px;
clear: left;
}
#mypage #eco-meter {
background-color:#FFFFFF;
border:3px solid #ACDFB5;
padding: 6px 7px;
width: 450px;
margin: 0;
position: relative;
float: left;
}
#mypage #eco-btns {
position: relative;
bottom: 10px;
width: auto;
}
#mypage #eco-btns li {
width: 115px;
float: right;
}
#mypage #eco-email, #mypage #eco-place {
background-color:#FFFFCC;
border-color:#888875;
margin-left:0;
width:324px;
color: #888;
}



#mypage #entrance {
margin:0 auto;
}

#mypage #contact-col-inner {
background: url("../../lang/ja_JP/images/sales/main_bg_top.gif") no-repeat scroll left top transparent;
padding: 20px 10px 15px;
position:relative;
width:auto;
}
#mypage #entrance div {
display:inline;
padding-right:2px;
}
#mypage #message-sec {
margin:0 auto;
}
#mypage #message-sec p {
font-size:85%;
}
#mypage #message-sec p a {
background: url("../../lang/ja_JP/images/sales/message_icon.gif") no-repeat scroll left top transparent;
bottom:12px;
display:block;
padding-left:25px;
position:absolute;
right:11px;
}


.fla-dl {
width: 350px;
font-size: 84%;
position: absolute;
bottom: -80px;
right: 0;
}
.fla-dl img {
float: left;
margin-right: 5px;
}

/* ご利用の前に */
#mypage #beforeUsing {
margin-top: 40px;
}
#mypage #beforeUsing dl {
float: left;
width: 250px;
}
#mypage #beforeUsing dd {
width: 175px;
}
#mypage #beforeUsing dl.last {
width: 350px;
}
#mypage #beforeUsing .last dd {
width: 275px;
}


/* ご利用ありがとうございました */
#mypage .msg-col {
padding: 40px 0;
text-align: center;
}
#mypage .toHome {
margin: 25px 25px 5px;
}


/* メッセージポップアップ */
#messageform {
background: transparent url(../../lang/ja_JP/images/sales/body_bk_01.gif) 0 0 repeat-x;
margin: 0;
padding: 0;
}
#messageform #body {
margin-top: 15px;
background: none!important;
}
#messageform #bodyInner {
text-align: left;
position: relative;
}
#message-form {
width: 420px;
clear: both;
border: 1px solid #ccc;
background-color: #fff;
padding: 15px;
margin: 0 auto;
text-align: left;
position: relative;
}
#messageform .lead {
background: transparent url(../../lang/ja_JP/images/sales/message_icon.gif) top left no-repeat;
padding-left: 28px;
padding-bottom: 10px;
border-bottom: 1px solid #dedede;
}
#messageform .close {
position: absolute;
top: 16px;
right: 15px;
line-height: 10px;
padding: 3px;
font-size: 85%;
}
#messageform .close a {
margin: 0 auto;
padding-left: 15px;
background: #FFFFFF url(../../shared/images/icon_close.gif) no-repeat scroll 0 3px;
}
#messageform table {
width: 100%;
margin-top: 15px;
}
#messageform tr {
margin: 4px 0;
}
#messageform .right-td {
text-align: right;
}
#messageform td {
padding: 3px 0;
}
#messageform .top-td {
vertical-align: top;
}
#messageform .inputText {
width: 250px;
}
#messageform #form-btn {
margin: 10px auto 0;
text-align: center;
}
#messageform .errorMessage li {
color: #ff0000;
}
#messageform .btn-area {
padding: 0 ;
}

/* 送信しましたページ */

.done-message {
width: auto;
margin: 30px auto;
padding: 50px 15px;
text-align: center;
font-weight: bold;
background-color: #FFD9D9;
}
.close-done {
line-height: 10px;
padding: 3px 3px 20px;
font-size: 85%;
text-align: center;
}
.close-done a {
margin: 0 auto;
padding-left: 15px;
background: #FFFFFF url(/vc/ja/outbound/shared/images/close.gif) no-repeat scroll 0 0;
}
