<div id="gnav" class="clearfix">

<ul>
<li class="gnav01"><a href="{$__frame.fep_directory}/services/invite.php"><span class="active">{t}2142,_('メインページ'){/t}</span></a></li>
{if !$__frame.ignore_menu.tool}
<li class="gnav06"><a href="{$__frame.fep_directory}/services/download/"><span class="active">{t}2143,_('ツール・マニュアル'){/t}</span></a></li>{/if}
{if !$__frame.ignore_menu.faq}
<li class="gnav07"><a href="{$__frame.fep_directory}/services/faq/"><span class="active">FAQ</span></a></li>{/if}
{if !$__frame.ignore_menu.inquiry}
<li class="gnav08"><a href="{$__frame.fep_directory}/services/ask/"><span class="active">{t}2144,_('お問い合わせ'){/t}</span></a></li>{/if}
</ul>

</div>

{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}
