{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Addressbook"}
<table class="searchList" width="100%">

{foreach from=$rows key=i item=row}
    {if $row.user_data.error}
        <div class="required">※入力内容に以下のエラーが存在します。
        {foreach from=$row.user_data.error key=i item=error}
            {if $error}
                <div class="required">
                    <ul>
                        <!-- start display errors -->
                        {$error}
                        <!-- end display errors -->
                    </ul>
            {/if}
        {/foreach}
    {/if}
    </div>
{/foreach}

<thead>
    <tr>
        <th>no</th>
        <th>{t}999901,_('国コード'){/t}</th>
        <th>{t}999902,_('会社名'){/t}</th>
        <th>{t}1035,_('ユーザーID'){/t}</th>
        <th>{t}1036,_('ユーザーPW'){/t}</th>
        <th>{t}1037,_('管理者PW'){/t}</th>
        <th>{t}999903,_('郵便番号'){/t}</th>
        <th>{t}999904,_('住所'){/t}</th>
        <th>{t}999905,_('電話番号'){/t}</th>
        <th>{t}999906,_('FAX番号'){/t}</th>
        <th>{t}999907,_('担当者部署'){/t}</th>
        <th>{t}999908,_('担当者姓'){/t}</th>
        <th>{t}999909,_('担当者名'){/t}</th>
        <th>{t}999910,_('E-mail'){/t}</th>
        <th>{t}1041,_('開始日'){/t}</th>
        <th>{t}999912,_('削除ステータス'){/t}</th>
        <th>{t}999913,_('備考'){/t}</th>
        <th>{t}999914,_('プレゼンスチャット'){/t}</th>
        <th>{t}999915,_('サイボウズ連携オプション'){/t}</th>
        <th>{t}999916,_('動画共有オプション'){/t}</th>
        <th>{t}999917,_('動画共有使用容量(MB)'){/t}</th>
        <th>{t}999918,_('契約サービス'){/t}</th>
        <th>{t}1039,_('部屋名'){/t}</th>
        <th>{t}999919,_('最大参加者数'){/t}</th>
        <th>{t}999920,_('最大オーディエンス数'){/t}</th>
        <th>{t}999921,_('最大資料ユーザ数'){/t}</th>
        <th>{t}1040,_('プラン'){/t}</th>
        {foreach from=$rows key=i item=row}
            {if $i < 1}
                {foreach from=$row.option_data key=j item=row}
                <th>{t}999922,_('オプション'){/t}_{$j+1}</th>
                <th>{t}999924,_('追加日'){/t}_{$j+1}</th>
                {/foreach}
            {/if}
        {/foreach}
    </tr>
</thead>
<tbody>
{foreach from=$rows key=i item=row}
    <tr>
        <td>{$i+1}</td>
        <td>{$row.user_data.country_key|escape:"html"}</td>
        <td>{$row.user_data.user_company_name|escape:"html"}</td>
        <td>{$row.user_data.user_id|escape:"html"}</td>
        <td>{$row.user_data.user_password|escape:"html"}</td>
        <td>{$row.user_data.user_admin_password|escape:"html"}</td>
        <td>{$row.user_data.user_company_postnumber|escape:"html"}</td>
        <td>{$row.user_data.user_company_address|escape:"html"}</td>
        <td>{$row.user_data.user_company_phone|escape:"html"}</td>
        <td>{$row.user_data.user_company_fax|escape:"html"}</td>
        <td>{$row.user_data.user_staff_department|escape:"html"}</td>
        <td>{$row.user_data.user_staff_lastname|escape:"html"}</td>
        <td>{$row.user_data.user_staff_firstname|escape:"html"}</td>
        <td>{$row.user_data.user_staff_email|escape:"html"}</td>
        <td>{$row.user_data.user_starttime|date_format:"%Y-%m-%d %H:%M"}</td>
        <td>{$row.user_data.user_delete_status|escape:"html"}</td>
        <td>{$row.user_data.memo|escape:"html"}</td>
        <td>{$row.user_data.has_chat|escape:"html"}</td>
        <td>{$row.user_data.is_cybozu_option|escape:"html"}</td>
        <td>{$row.user_data.use_clip_share|escape:"html"}</td>
        <td>{$row.user_data.clip_share_storage_size|escape:"html"}</td>
        <td>{$row.user_data.service_name|escape:"html"}</td>
        <td>{$row.room_data.room_name|escape:"html"}</td>
        <td>{$row.room_data.max_seat|escape:"html"}</td>
        <td>{$row.room_data.max_audience_seat|escape:"html"}</td>
        <td>{$row.room_data.max_whiteboard_seat|escape:"html"}</td>
        <td>{$row.room_data.service_key} : {$plan_list[$row.room_data.service_key].service_name}</td>
        {foreach from=$row.option_data key=i item=row}
            <td>{if $row.service_option_name != ""}{$row.service_option_name|escape:"html"} ( {t}1279,_('オプションキー'){/t} : {$row.service_option_key} ){/if}</td>
            <td>{$row.option_start_time}</td>
        {/foreach}
    </tr>
{/foreach}
</tbody>
</table>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}