<div id="header" class="clearfix">

<h1><a href="{$smarty.const.N2MY_BASE_URL}services/"><img src="/custom/paperless/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
<div class="support-info">
{if $__frame.user_info.account_model == "free"}
{t}7674,_('有料プランのご契約申込・カスタマーサポート（平日 09:00-17:00 電話受付）'){/t}<span>{t}7675,_('0570-07-0710'){/t}</span>
{else}
{t}7665,_('カスタマーサポート（24時間365日 電話受付）'){/t}<span>{t}7666,_('0570-00-2192'){/t}</span>
{/if}
</div>
{if $__frame.lang == "ja_JP" && !$__frame.ignore_menu.eco_meter && $ecoInfo && $__frame.user_info.account_model != "free"}
<div id="eco-setting">
<img src="/vcube/shared/images/head_eco_img.gif" class="eco-period" title="{t sy=$ecoInfo.lastYear|date_format:"%Y" sm=$ecoInfo.lastYear|date_format:"%m"}1795,_('%1$s年%2$s月'){/t}{t}4435,_('～'){/t}{t ey=$ecoInfo.thisMonth|date_format:"%Y" em=$ecoInfo.thisMonth|date_format:"%m"}1795,_('%1$s年%2$s月'){/t}の累計" /></span>
<div id="eco-setting-inner">
<ul>
<li><span class="key">CO<sub>2</sub>：<span class="value">{$ecoInfo.eco_co2.value|default:'0'}</span>{$ecoInfo.eco_co2.unit}{t}1796,_('削減'){/t}</span></li>
<li><span class="key">{t}1797,_('交通費'){/t}：<span class="value">{$ecoInfo.eco_fare|default:'0'}</span>{t}1798,_('円'){/t}{t}1796,_('削減'){/t}</span></li>
<li><span class="key">{t}1800,_('時間'){/t}：<span class="value">{$ecoInfo.eco_time.hour|default:'0'}</span>{t}1800,_('時間'){/t}{if $ecoInfo.eco_time.minute}{$ecoInfo.eco_time.minute}{t}4437,_('分'){/t}{/if}{t}1796,_('削減'){/t}</span></li>
<li><span class="key">{t}2134,_('現在の最寄駅'){/t}：<a href="{$smarty.const.N2MY_BASE_URL}services/index.php?action_env#eco-meter">{if $user_station}{$user_station|escape:'html'}{else}{t}4438,_('未設定'){/t}{/if}</a><!-- {t}2135,_('ECOレポート'){/t} : {if $eco_report|escape:'html'}{t}4439,_('設定済'){/t}{else}{t}4438,_('未設定'){/t}{/if} --></span></li>
</ul>
</div>
{/if}





</div>
</div>