{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage Notification"}
<link type="text/css" rel="stylesheet" href="{$__frame.fep_directory}/shared/js/lib/jquery/wkrte/css/wkrte.css" />
<div id="container">
    <form action="./maintenance.php" method="post" name="newentry">
    <input type="hidden" name="id" value="{$news_info.id}">
    <table class="form">
        <tr>
            <th>Language</th>
            <td>
                <input type="hidden" name="lang" value="{$news_info.lang}" />
                    {foreach from=$lang_list key=lang_key item=lang_name}
                    {if $lang_key == $news_info.lang}{$lang_name|escape:"html"}{/if}
                    {/foreach}
            </td>
        </tr>
        <tr>
            <th>{t}855,_('Date'){/t}</th>
            <td>
                <input type="text" id="date" name="date" value="{$news_info.date}" />
                <button type="reset" id="date_btn">Cal</button>
                {$err_msg.date}
                {literal}
                <script type="text/javascript">
                    Calendar.setup({
                        inputField  : 'date',
                        button      : 'date_btn',
                        ifFormat    : '%Y/%m/%d',
                        showsTime   : true,
                        singleClick : true,
                        weekNumbers : true,
                        cache       : true
                    });
                </script>
                {/literal}
            </td>
        </tr>
        <tr>
            <th>{t}856,_('Title'){/t}</th>
            <td><input type="text" name="title" size="100" value="{$news_info.title|escape:'html'}" />
            {$err_msg.title}
            </td>
        </tr>
        <tr>
            <th>{t}857,_('Content{/t}</th>
            <td>
                <br /><br />
                <textarea cols="70" rows="20" class="wkrte-1" name="contents" action="#">{$news_info.contents|escape:"html"}</textarea>
                {$err_msg.date}
                <script type="text/javascript" src="{$__frame.fep_directory}/shared/js/lib/jquery/wkrte/wkrte.js"></script>
                <script type="text/javascript">
                {literal}
                $(document).ready(function() {
                    var arr = $('.wkrte-1').rte({
                        width: 720,
                        height: 520,
                        controls_rte: rte_toolbar,
                        controls_html: html_toolbar
                    });
                });
                {/literal}
                </script>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" name="action_top" value="{t}1394,_('Back'){/t}" />
                <input type="submit" name="action_confirm" value="{t}858,_('Confirm'){/t}" />
            </td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
