{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage Notification"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1415,_('Search'){/t}</span></a></li>
    </ul>
    <div id="fragment1">
        {if $lang_list}
            <form action="./maintenance.php" method="get">
            Language
            <select name="lang" id="lang" onchange="this.form.submit();">
            {foreach from=$lang_list key=lang_key item=lang_name}
            <option value="{$lang_key}" {if $lang_key == $lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
            {/foreach}
            </select>
            <input type="submit" name="action_form" value="New">
            </form>
        {/if}
        <table class="searchList" width="100%">
            <thead>
            <tr>
                <th>{t}861,_('Display'){/t}</th>
                <th class="action">{t}862,_('Action'){/t}</th>
                <th>{t}855,_('Date'){/t}</th>
                <th>{t}856,_('Title'){/t}</th>
                <th>{t}865,_('Content'){/t}</th>
            </tr>
            </thead>
            <tbody>
            {section name="i" loop=$info}
            <tr>
                <td><a href="{$page_name}?action_status&amp;type={$info[i].type}&amp;id={$info[i].id}"> {if $info[i].status}Show{else}Hide{/if} </a></td>
                <td>
                    <a href="{$page_name}?action_edit&amp;id={$info[i].id}">{t}866,_('Modify'){/t}</a> |
                    <a href="{$page_name}?action_deleteconfirm&amp;type=delete&amp;id={$info[i].id}">{t}867,_('Delete'){/t}</a>
                </td>
                <td>{$info[i].date}</td>
                <td>{$info[i].title}</td>
                <td>{$info[i].contents}</td>
            </tr>
            {/section}
            </tbody>
        </table>
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
