<div id="gnav" class="clearfix">
<div id="gnav-inner">
<ul>
{if !$__frame.ignore_menu.reservation}
<li class="gnav02"><a href="{$__frame.fep_directory}/services/reservation/yoyaku.php?action_create=&amp;new=1"><span class="active">{t}2124,_('会議予約'){/t}</span></a></li>
<li class="gnav03"><a href="{$__frame.fep_directory}/services/reservation/yoyaku.php"><span class="active">{t}2125,_('予約変更'){/t}</span></a></li>
<li class="gnav04"><a href="{$__frame.fep_directory}/services/reservation/yoyaku.php?action_list"><span class="active">{t}2126,_('会議一覧'){/t}</span></a></li>
{/if}
</ul>
{if !$__frame.n2my.auto_login}
<p class="logout"><a href="{$__frame.fep_directory}/services/logout/yoyaku.php">{t}2136,_('ログアウト'){/t}</a></p>
{/if}
</div>
</div>
