<div id="header" class="clearfix">

<h1><a href="{$__frame.fep_directory}/services/reservation/yoyaku.php"><img src="{$__frame.fep_directory}/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
<span style="font-size: 15pt">予約専用のページです。</span><br />
<span style="font-size: 10pt">※会議への参加・録画の視聴などはできません。</span>
<div id="link-col">
{if !$__frame.n2my.auto_login}
<p class="logout"><a href="{$__frame.fep_directory}/services/logout/yoyaku.php">{t}2136,_('ログアウト'){/t}</a></p>
{/if}

</div>
</div>
