<div id="gnav" class="clearfix">

<ul>
<li class="gnav01"><a href="{$__frame.fep_directory}/services/invite.php"><span class="active">{t}2142,_('メインページ'){/t}</span></a></li>
{if !$__frame.ignore_menu.tool}
<li class="gnav06"><a href="{$__frame.fep_directory}/services/download/"><span class="active">{t}2143,_('ツール・マニュアル'){/t}</span></a></li>{/if}
{if !$__frame.ignore_menu.faq}
<li class="gnav07"><a href="{$__frame.fep_directory}/services/faq/"><span class="active">FAQ</span></a></li>{/if}
{if !$__frame.ignore_menu.inquiry}
<li class="gnav08"><a href="{$__frame.fep_directory}/services/ask/"><span class="active">{t}2144,_('お問い合わせ'){/t}</span></a></li>{/if}
</ul>

</div>