{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Agency Manage Member"}


<h2>{t}0000000000,_('[Manage Member]'){/t}</h2>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}

<form action="{$__frame.self}" name="delete_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="agency_id" value="" />
<input type="hidden" name="temp" value="{$action}" />
<input type="hidden" name="type" value="{$type}" />
<input type="hidden" name="table" value="{$table}" />
</form>

<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th nowrap><a href="?action_agency_list&amp;sort_key=user_key&amp;sort_type=asc">
            {if $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
        </th>
        <th nowrap>Member ID</th>
        <th nowrap>Member Name</th>
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td class="action">
            <a href="?action_list&amp;table=member&amp;type=data&amp;sort_key=member_key&amp;form[member_key]={$row.member_key|escape:'html'}&reset=2">{t}1291,_('Member Info'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_delete_agency&amp;table=member&amp;member_key={$row.member_key|escape:'html'}" onclick="return confirm('{t}956,_('Are you sure to stop?'){/t}')">{t}957,_('Stop'){/t}</a>
        </td>
        <td>{$row.member_key|escape:'html'}</td>
        <td>{$row.member_id|escape:'html'}</td>
        <td>{$row.member_name|escape:'html'}</td>
    </tr>
    {/foreach}
</tbody>
</table>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}