{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Edit"}
{literal}
<script type="text/javascript">
<!--
function modify(){
    if(confirm("{/literal}{t}1109,_('修正しますか？'){/t}{literal}")){
        document.modify_form._action.name = "action_modify_complete";
        document.modify_form.submit();
    }
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="modify_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="type" value="{$where_data.type}" />
<input type="hidden" name="table" value="{$where_data.table}" />
<input type="hidden" name="key" value="{$where_data.key}" />
<input type="hidden" name="value" value="{$where_data.value}" />
<input type="hidden" name="uptime" value="{$where_data.uptime}" />
<input type="hidden" name="after_action" value="{$after_action}" />
<input type="hidden" name="error_action" value="action_modify" />
<input type="hidden" name="temp" value="{$action}" />
<fieldset>
<legend>Modify Form</legend>
<table>
    {foreach from=$columns key=key item=column}
    {if $column.search}
    {if !$column.flags.auto_increment && $column.modifyform_status == 1}
    <tr>
        <td>{$column.label|escape:'html'}</td>
        <td>

        {if $column.except_modify == 1}
            {$modify_form.$key|escape:'html'}<input type="hidden" name="modify_form[{$key}]" value="{$modify_form.$key|escape:'html'}" />
        {elseif $hide_columns.$key == 1 && $column.item.relation_data}
            {foreach from=$column.item.relation_data key=_key item=name}
                {if $modify_form.$key == $_key}{$name}{/if}
            {/foreach}
            {$modify_form.$key|escape:'html'}<input type="hidden" name="modify_form[{$key}]" value="{$modify_form.$key|escape:'html'}" />
        {elseif $hide_columns.$key == 1 && $column.sub_type}
            {foreach from=$column.item.select key=_key item=select}
                {if $modify_form.$key == $select.value}{$select.data}{/if}
            {/foreach}
            <input type="hidden" name="modify_form[{$key}]" value="{$modify_form.$key|escape:'html'}" />
        {elseif $hide_columns.$key == 1}
            {$modify_form.$key|escape:'html'}<input type="hidden" name="modify_form[{$key}]" value="{$modify_form.$key|escape:'html'}" />
        {elseif $column.item.relation_data}
            <select name="modify_form[{$key}]" {if $column.sub_type == "set"}multiple{/if}>
                <option value="">{t}1110,_('選択してください'){/t}</option>
                {foreach from=$column.item.relation_data key=_key item=name}
                <option value="{$_key}" {if $modify_form.$key == $_key}selected="1"{/if}>{$name}</option>
                {/foreach}
            </select>{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
        {elseif $column.sub_type}
            <select name="modify_form[{$key}]">
                {foreach from=$column.item.select key=_key item=select}
                <option value="{$select.value}" {if $modify_form.$key == $select.value}selected="1"{/if}>{$select.data}</option>
                {/foreach}
            </select>
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
        {elseif $column.type == "number"}
            <input type="text" name="modify_form[{$key}]" size="10" value="{$modify_form.$key|escape:'html'}" />{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
        {elseif $column.type == "string"}
            <input type="text" name="modify_form[{$key}]" size="{if $column.size > 70}70{else}{$column.size}{/if}" maxlength="{$column.size}" value="{$modify_form.$key|escape:'html'}" />{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
        {elseif $column.type == "text"}
            <textarea name="modify_form[{$key}]" cols="40" rows="2">{$modify_form.$key|escape:'html'}</textarea>{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
        {elseif $column.type == "date"}
            <input type="text" id="modify_{$key}" name="modify_form[{$key}]" value="{$modify_form.$key|escape:'html'}" />
            <button type="reset" id="modify_{$key}_btn">Cal</button>{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
           {if $column.label == "削除日" || $column.label == "停止日" || $column.label == "停止予定日"}
           <script type="text/javascript">
                Calendar.setup({literal}{{/literal}
                    inputField  : 'modify_{$key}',
                    button      : 'modify_{$key}_btn',
                    ifFormat    : '%Y-%m-%d 23:59:59',
                    showsTime   : true,
                    singleClick : true,
                    weekNumbers : true,
                    cache       : true
                {literal}}{/literal});
            </script>
            {else}
            <script type="text/javascript">
                Calendar.setup({literal}{{/literal}
                    inputField  : 'modify_{$key}',
                    button      : 'modify_{$key}_btn',
                    ifFormat    : '%Y-%m-%d 00:00:00',
                    showsTime   : true,
                    singleClick : true,
                    weekNumbers : true,
                    cache       : true
                {literal}}{/literal});
            </script>
            {/if}
        {elseif $column.type == "time"}
            <input type="text" name="modify_form[{$key}]" size="{if $column.size > 70}70{else}{$column.size}{/if}" maxlength="{$column.size}" value="{$modify_form.$key|escape:'html'}" />{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
        {/if}</td>
    </tr>
    {/if}
    {/if}
    {/foreach}
    <tr>
        <th></th>
        <td>
            <input type="button" onclick="modify();" value="{t}1108,_('修正'){/t}"/>
            {if !$hide_back}<input type="button" onClick="parent.frames[1].location = '?action_list'" value="{t}1114,_('戻る'){/t}">{/if}
        </td>
    </tr>
</table>
</fieldset>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}