<link href="{$__frame.fep_directory}/shared/js/facebox-1.3/src/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/facebox-1.3/src/facebox.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/play_clip.js"></script>
{literal}
<script type='text/javascript'>
    {/literal}
    {if $base_action == 'clip_list'}
    var pager_action = "action_list";
    {elseif $base_action == 'create_clip_relation'}
    var pager_action = "action_create_clip_relation";
    {elseif $base_action == 'modify_clip_relation'}
    var pager_action = "action_modify_clip_relation";
    {/if}
    {if $enable_delete}
    var enable_delete = true;
    {else}
    var enable_delete = false;
    var checked_clips = {if $checked_clips}{$checked_clips}{else}[]{/if};
    {/if}
    {literal}
    function onSubmitAction(action)
    {
        addHiddenParameter(action, 1);
        submitAt();
        return false;
    }
    function onSubmitActionWithClip(action)
    {
        addClipCheckeStatus();
        onSubmitAction(action);
    }
    function onPager(page)
    {
        addHiddenParameter('page', page);
        addHiddenParameter(pager_action, 1);
        addClipCheckeStatus();
        submitAt(pager_action, [{'page':page}]);

        return false;
    }
    function addClipCheckeStatus()
    {
        var checkedClips = $$(".check_clip");
        if (!checkedClips) {
            return;
        }
        var addClipKeys = [];
        var delClipKeys = [];
        var s = "";
        $A(checkedClips).each(function(el) {
                if (el.checked){
                addClipKeys.push(el.value);
                } else{
                delClipKeys.push(el.value);
                }
                });
        addHiddenParameter('add_clips', addClipKeys.join(','));
        addHiddenParameter('del_clips', delClipKeys.join(','));
    }
    function submitCheckClipAt(action)
    {
        var addClipKeys = [];
        var delClipKeys = [];
        var s = "";
        $A($$(".check_clip")).each(function(el) {
           if (el.checked){
              addClipKeys.push(el.value);
          } else{
              delClipKeys.push(el.value);
          }
        });
        $('add_clips').value = addClipKeys.join(',');
        $('del_clips').value = delClipKeys.join(',');
        submitAt(action);
        return false;
    }
    function addHiddenParameter(name, values)
    {
        var el = document.createElement("input");
        el.name  = name;
        el.value = values;
        el.type  ='hidden';
        $('clip_check_form').appendChild(el);
    }
    function submitAt(action, params){
        $('clip_check_form').action = '{/literal}{$smarty.server.SCRIPT_URL}{literal}';
        $('clip_check_form').submit();
    }
    Event.observe(window, 'load', initClipList);
    function initClipList()
    {
        var max_relation = {/literal}{if $max_relation}{$max_relation}{else}0{/if}{literal};
        var checkedClipCounter = function(el){
            var check_clip_num = parseInt($('relay_clip_num').innerHTML);
            if (el.target.checked) {
                if (max_relation <= check_clip_num) {
                    el.target.checked = false;
                    alert (_(7440, "選択できる動画は10個までです"));
                    return false;
                }
                $('relay_clip_num').update(check_clip_num + 1);
            } else {
                if (!enable_delete) {
                    if (containsChecedClips(el.target.value)) {
                        el.target.checked = true;
                        alert (_(7441, "開催中の会議の動画は選択解除できません"));
                        return false;
                    }
                }
                $('relay_clip_num').update(check_clip_num - 1);
            }
        }
        $A($$(".check_clip")).each(function(el) {
                Event.observe(el, 'click', checkedClipCounter);
        });

    }
    function containsChecedClips(clip_key)
    {
        if (!checked_clips || checked_clips.length == 0) {
            return false;
        }
        for (var i = 0;i < checked_clips.length; i++) {
            if (checked_clips[i] == clip_key){
                return true;
            }
        }
        return false;
    }
</script>
{/literal}
<form id='clip_check_form' action='{$smarty.server.SCRIPT_URL}' method='POST'>
<div class="list-col column clearfix">
    <div class="pager">
    <p>{t total=$pager.total start=$pager.start end=$pager.end}2231,_('全<span class="strong total">%1$s</span>件中 %2$s ～ %3$s 件表示'){/t}</p>
    {if $pager.range}
    <span>
        (
        {if $pager.prev}
        &nbsp;<a href='#' onClick="onPager(1);" >[1]</a>
        &nbsp;<a href='#' onClick="onPager({$pager.prev});" >{t}2409,_('前へ'){/t}</a>
        {/if}
        {foreach from=$pager.range key=key item=is_current}
            {if $is_current}
                &nbsp;<b>{$key}</b>
            {else}
                &nbsp;<a href='#' onClick="onPager({$key});" >{$key}</a>
            {/if}
        {/foreach}
        {if $pager.next}
        &nbsp;<a href='#' onClick="onPager({$pager.next});" >{t}2410,_('次へ'){/t}</a>
        &nbsp;<a href='#' onClick="onPager({$pager.last});" >[{$pager.last}]</a>
        {/if}
        &nbsp;)
    </span>{/if}
	</div>
    <!-- end if -->

	{foreach from=$clip_list item=clip name=clip_loop}

	<div class="video_clips">
		<p class="video_title">
			{if $clip.clip_status == 2}
            <a href='javascript:void(0);' onClick='playClip("{$clip.clip_key}");return false;'/>{$clip.title|escape|mb_truncate:14:"...":true}</a>
{else} {$clip.title|escape|mb_truncate:14:"...":true}
                {/if}
		</p>
		<dl>
			<dt class="video_thumb">
				{if $clip.clip_status == 2}
				<a href='javascript:void(0);' onClick='playClip("{$clip.clip_key}");return false;'/>
                <img width=100 height=75 src='{$clip.thumbnail_url}'/></a>

				{elseif $clip.clip_status == 0}
				<img width=100 height=75 src='/shared/images/converting.gif'/>

				{else}
				<img width=100 height=75 src='/shared/images/convert_error.gif'/><br/>
                {/if}
                {if $base_action == 'create_clip_relation' || $base_action == 'modify_clip_relation'}
				<p class="check_clip_block">
                <input class='check_clip' {if in_array($clip.clip_key,$relay_clip_keys)}checked{/if} value='{$clip.clip_key}' type='checkbox' id="clip_{$clip.clip_key}">
				<label for="clip_{$clip.clip_key}" class="check_clip_label">{t}7434,_('選択する'){/t}</label></p>
                {/if}
			</dt>
                {if $clip.clip_status == 2}
                <dd class="video_time">{$clip.duration}</dd>
                <dd class="video_size">{math equation="x" x=$clip.flv_filesize/1000000 format="%.1f"}MB</dd>
                {elseif $clip.clip_status == 0}
                <dd class="video_time attention">{t}7437,_('変換中'){/t}</dd>
                <dd class="video_size"></dd>
                {else}
                <dd class="video_time attention">{t}7438,_('変換失敗'){/t}</dd>
                <dd class="video_size"></dd>
                {/if}
           </dl>
		<div class="video_btn">
			<span class="button button25 button-inner">
                {if $base_action == 'clip_list'}
                    <span class="button-inner"><input onClick='locationDetail("{$clip.clip_key}");' class="icon i-go" value='{t}7409,_('詳細'){/t}' type="button"/></span>
                {/if}
			</span>
		</div>
	</div>

	{if $smarty.foreach.clip_loop.index+1 % 4 == 0}
    {/if}
    {/foreach}

    <input type='hidden' name='after_relation_clip' value='1'/>
    <input type="hidden" name="__submit_key" value="{$__submit_key}" />
</div>
</form>
