{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage FAQ"}
<p>
<a href="?lang=ja_JP">{t}760,_('Japanese'){/t}</a> |
<a href="?lang=en_US">{t}761,_('English'){/t}</a> |
<a href="?lang=zh_CN">Chinese</a>
</p>
<button onClick="location.href='faq.php?action_new'">{t}762,_('NEW'){/t}</button>
    <h3>{t}763,_('Our Services'){/t}</h3>
    <h4>[ {$__frame.service_info.full_name|escape:"html"} {t}764,_('General'){/t} ]</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$service_general}

    <h4>[ {$__frame.service_info.meeting_name} ]</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$service_meeting}

    <h3>{t}765,_('Price and Plan'){/t}</h3>
    <h4>[ {$__frame.service_info.full_name} {t}764,_('General'){/t} ]</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$price_general}

    <h4>[ {$__frame.service_info.meeting_name} ]</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$price_meeting}

    <h3>{t}767,_('Requirement'){/t}</h3>
    <h4>{$__frame.service_info.full_name} {t}764,_('General'){/t}</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$env_general}

    <h4>[ {$__frame.service_info.meeting_name} ]</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$env_meeting}

    <h3>{t}769,_('Trouble Shooting'){/t}</h3>
    <h4>[ {$__frame.service_info.full_name} {t}764,_('General'){/t} ]</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$trouble_general}
    <h4>[ {$__frame.service_info.meeting_name} ]</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$trouble_meeting}

    <h3>Mac<!-- {t}771,_('Macintosh'){/t} --></h3>
    <h4>[ {$__frame.service_info.full_name} {t}764,_('General'){/t} ]</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$mac_general}
    <h4>[ {$__frame.service_info.meeting_name} ]</h4>
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/faq_list.t.html" subcategory_list=$mac_meeting}
</body></html>