        <table border=1>
            <thead>
            <tr>
                <th>Status</th>
                <th>Sort</th>
                <th>For</th>
                <th>Original</th>
                <th>Translation</th>
            </tr>
            </thead>
            <tbody>
{foreach from=$subcategory_list item=item}
{if $item[3] == 1}
            <tr>
                <td>
                    <a href="?action_status&amp;key={$item[0]}&amp;type=deactivate">{t}800,_('Hide'){/t}</a>
{else}
            <tr bgcolor="#aaaaaa">
                <td>
                    <a href="?action_status&amp;key={$item[0]}&amp;type=activate">{t}801,_('Display'){/t}</a>
                    <a href="?action_status&amp;key={$item[0]}&amp;type=delete">{t}802,_('Delete'){/t}</a>
{/if}
                </td>
                <td>
                    <a href="?action_up&amp;key={$item[0]}">{t}803,_('▲'){/t}</a>
                    <a href="?action_down&amp;key={$item[0]}">{t}804,_('▼'){/t}</a>
                </td>
                <td>
                    {if $item[7] == 1}Common{elseif $item[7] == 2}User Only{else}Price-Mode Member Only{/if}
                </td>
                <td>
                    {$item.original_question|escape:"html"}<br />
                    {$item.original_answer|escape:"html"}<br />
                </td>
                <td>
                    <font size="2">
                    <a href="faq.php?action_edit&amp;key={$item[0]}"><b>{t}805,_('■'){/t}{$item[1]|escape:"html"}</b></a><br />
                    {$item[2]|escape:"html"|nl2br}</font>
                </td>
            </tr>
{/foreach}
            </tbody>
        </table>