{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title=""}



<table>
<tr>
    <th>user_company</th>
    <td>{$userInfo.user_company_name}</td>
</tr>
<tr>
    <th>memberInfo</th>
    <td>
    member_id: {$info.memberInfo.member_id}<br>
    member_name: {$info.memberInfo.member_name}<br>
    </td>
</tr>

{foreach from=$info.memberInfo.meetingList item=meetingInfo}
<tr>
    <td valign="top">
        meeting_key: {$meetingInfo.meeting_key}<br>
        meeting_name: {$meetingInfo.meeting_name}<br>
        meeting_size_used: {$meetingInfo.meeting_size_used}<br>

        actual_start_datetime: {$meetingInfo.actual_start_datetime}<br>
        actual_end_datetime: {$meetingInfo.actual_end_datetime}<br>
    </td>
    <td>
    {foreach from=$meetingInfo.memberList item=memberInfo}
    member_name: {$memberInfo.member_name}<br>
    use_count: {$memberInfo.use_count}<br>
    uptime_start: {$memberInfo.uptime_start}<br>
    uptime_end: {$memberInfo.uptime_end}<hr>
    {/foreach}
    </td>
</tr>

{/foreach}
</table>



<div style="clear: both;">
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
</div>