{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Shift DB"}
{literal}
<script src="{$__frame.fep_directory}/shared/js/lib/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
function shiftTable( tableName )
{
    params = "action_" + tableName;

    var id = document.getElementById( tableName );
        while( id.hasChildNodes() ){
            id.removeChild( id.lastChild );
        }
        id.appendChild( document.createTextNode( "{t}887,_('Shift Processing'){/t}" ) );

    var startId = tableName + "Start";
        remove(startId);
    var start = document.getElementById( startId );

    start.appendChild( document.createTextNode( getDate() ) );

    var errorMsg = document.getElementById( "errorMsg" );

    var httpObj = new Ajax.Request('/admin_tool/shift2.php',
    {
        method: 'get',
        parameters: params,
        onSuccess: function( response ) {
            var result = response.responseText;
            while( id.hasChildNodes() ){
                id.removeChild( id.lastChild );
            }

            if( result == "true" ){
                id.appendChild( document.createTextNode( "{t}888,_('Shift Finished'){/t}" ) );
            } else {
                id.appendChild( document.createTextNode( "{t}889,_('Shift Failed'){/t}" ) );
                errorMsg.appendChild( document.createTextNode( result ) );
            }
//            id.appendChild( document.createTextNode( result == "true" ? "{t}888,_('Shift Finished'){/t}" : "{t}889,_('Shift Failed'){/t}" ) );

        var endId = tableName + "End";
            remove( endId );
        var end = document.getElementById( endId );
        end.appendChild( document.createTextNode( getDate() ) );
        }
    });
}

function getDate()
{

    var now = new Date();

    var hour = now.getHours();
    var min = now.getMinutes();
    var sec = now.getSeconds();
    // {t}4714,_('数値が'){/t}1{t}4715,_('桁の場合、頭に'){/t}0{t}4716,_('を付けて'){/t}2{t}4717,_('桁で表示する指定'){/t}
    if(hour < 10) { hour = "0" + hour; }
    if(min < 10) { min = "0" + min; }
    if(sec < 10) { sec = "0" + sec; }

    return hour + ':' + min + ':' + sec;
}

function remove( idName )
{
    var idName = document.getElementById( idName );
    while( idName.hasChildNodes() ){
        idName.removeChild( idName.lastChild );
    }
}

//-->
</script>

{/literal}



<span>meeting</span>

<table class="searchList">
<thead>
</thead>
<tbody>
    <tr>
        <th class="action">{t}892,_('Table'){/t}</th>
        <th>{t}893,_('Start Time'){/t}</th>
        <th>{t}894,_('End Time'){/t}</th>
        <th>{t}895,_('Process Time'){/t}</th>
        <th>{t}896,_('Status'){/t}</th>
        <th></th>
    </tr>
    <tr>
        <td>datacenter</td>
        <td><div id="datacenterStart"></div></td>
        <td><div id="datacenterEnd"></div></td>
        <td></td>
        <td><div id="datacenter"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('datacenter');"></td>
    </tr>
    <tr>
        <td>document</td>
        <td><div id="documentStart"></div></td>
        <td><div id="documentEnd"></div></td>
        <td></td>
        <td><div id="document"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('document');"></td>
    </tr>
    <tr>
        <td>document2</td>
        <td><div id="document2Start"></div></td>
        <td><div id="document2End"></div></td>
        <td></td>
        <td><div id="document2"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('document2');"></td>
    </tr>
    <tr>
        <td>meeting</td>
        <td><div id="meetingStart"></div></td>
        <td><div id="meetingEnd"></div></td>
        <td>8min</td>
        <td><div id="meeting"></div></td>
        <td><input type="button" value="step1" onclick="shiftTable('meeting');" disabled=disabled></td>
    </tr>
    <tr>
        <td>meeting</td>
        <td><div id="meeting1Start"></div></td>
        <td><div id="meeting1End"></div></td>
        <td>10sec</td>
        <td><div id="meeting1"></div></td>
        <td><input type="button" value="step1" onclick="shiftTable('meeting1');"></td>
    </tr>
    <tr>
        <td></td>
        <td><div id="meeting2Start"></div></td>
        <td><div id="meeting2End"></div></td>
        <td>4 min</td>
        <td><div id="meeting2"></div></td>
        <td><input type="button" value="step2" onclick="shiftTable('meeting2');"></td>
    </tr>
    <tr>
        <td>meeting_extension_use_log</td>
        <td><div id="meeting_extension_use_logStart"></div></td>
        <td><div id="meeting_extension_use_logEnd"></div></td>
        <td>12sec</td>
        <td><div id="meeting_extension_use_log"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('meeting_extension_use_log');" disabled=disabled></td>
    </tr>
    <tr>
        <td>meeting_options</td>
        <td><div id="meeting_optionsStart"></div></td>
        <td><div id="meeting_optionsEnd"></div></td>
        <td></td>
        <td><div id="meeting_options"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('meeting_options');"></td>
    </tr>
    <tr>
        <td>meeting_sequence</td>
        <td><div id="meeting_sequenceStart"></div></td>
        <td><div id="meeting_sequenceEnd"></div></td>
        <td></td>
        <td><div id="meeting_sequence"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('meeting_sequence');"></td>
    </tr>
    <tr>
        <td>meeting_uptime</td>
        <td><div id="meeting_uptimeStart"></div></td>
        <td><div id="meeting_uptimeEnd"></div></td>
        <td></td>
        <td><div id="meeting_uptime"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('meeting_uptime');"></td>
    </tr>
    <tr>
        <td>meeting_use_log</td>
        <td><div id="meeting_use_logStart"></div></td>
        <td><div id="meeting_use_logEnd"></div></td>
        <td>7min</td>
        <td><div id="meeting_use_log"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('meeting_use_log');"></td>
    </tr>
    <tr>
        <td>participant</td>
        <td><div id="participantStart"></div></td>
        <td><div id="participantEnd"></div></td>
        <td>7 sec</td>
        <td><div id="participant"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('participant');"></td>
    </tr>
    <tr>
        <td>server</td>
        <td><div id="serverStart"></div></td>
        <td><div id="serverEnd"></div></td>
        <td></td>
        <td><div id="server"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('server');"></td>
    </tr>
    <tr>
        <td>sharing_server</td>
        <td><div id="sharing_serverStart"></div></td>
        <td><div id="sharing_serverEnd"></div></td>
        <td></td>
        <td><div id="sharing_server"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('sharing_server');"></td>
    </tr>
    <tr>
        <td>mail_doc_conv</td>
        <td><div id="mail_doc_convStart"></div></td>
        <td><div id="mail_doc_convEnd"></div></td>
        <td></td>
        <td><div id="mail_doc_conv"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('mail_doc_conv');"></td>
    </tr>
    <tr>
        <td>meeting_date_log</td>
        <td><div id="meeting_date_logStart"></div></td>
        <td><div id="meeting_date_logEnd"></div></td>
        <td></td>
        <td><div id="meeting_date_log"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('meeting_date_log');"></td>
    </tr>
    <tr>
        <td>member</td>
        <td><div id="memberStart"></div></td>
        <td><div id="memberEnd"></div></td>
        <td></td>
        <td><div id="member"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('member');"></td>
    </tr>
    <tr>
        <td>member_group</td>
        <td><div id="member_groupStart"></div></td>
        <td><div id="member_groupEnd"></div></td>
        <td></td>
        <td><div id="member_group"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('member_group');"></td>
    </tr>
    <tr>
        <td>ordered_service_option</td>
        <td><div id="ordered_service_optionStart"></div></td>
        <td><div id="ordered_service_optionEnd"></div></td>
        <td></td>
        <td><div id="ordered_service_option"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('ordered_service_option');"></td>
    </tr>
    <tr>
        <td>reservation</td>
        <td><div id="reservationStart"></div></td>
        <td><div id="reservationEnd"></div></td>
        <td></td>
        <td><div id="reservation"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('reservation');"></td>
    </tr>
    <tr>
        <td>reservation_user</td>
        <td><div id="reservation_userStart"></div></td>
        <td><div id="reservation_userEnd"></div></td>
        <td></td>
        <td><div id="reservation_user"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('reservation_user');"></td>
    </tr>
    <tr>
        <td>room</td>
        <td><div id="roomStart"></div></td>
        <td><div id="roomEnd"></div></td>
        <td></td>
        <td><div id="room"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('room');"></td>
    </tr>
    <tr>
        <td>room_plan</td>
        <td><div id="room_planStart"></div></td>
        <td><div id="room_planEnd"></div></td>
        <td></td>
        <td><div id="room_plan"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('room_plan');"></td>
    </tr>
    <tr>
        <td>user</td>
        <td><div id="userStart"></div></td>
        <td><div id="userEnd"></div></td>
        <td></td>
        <td><div id="user"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('user');"></td>
    </tr>
    <tr>
        <td>news</td>
        <td><div id="newsStart"></div></td>
        <td><div id="newsEnd"></div></td>
        <td></td>
        <td><div id="news"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('news');"></td>
    </tr>
</tbody>
</table>


<table>
<tr>
    <td>error message</td>
    </tr>
<tr>
    <td><div id="errorMsg"></div></td>
    </tr>
</table>



<span>mgm</span>
<table class="searchList">
<thead>
</thead>
<tbody>
    <tr>
        <th class="action">{t}892,_('Table'){/t}</th>
        <th>{t}893,_('Start Time'){/t}</th>
        <th>{t}894,_('End Time'){/t}</th>
        <th>{t}895,_('Process Time'){/t}</th>
        <th>{t}896,_('Status'){/t}</th>
        <th></th>
    </tr>
    <tr>
        <td>relation</td>
        <td><div id="relationStart"></div></td>
        <td><div id="relationEnd"></div></td>
        <td>10</td>
        <td><div id="relation"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('relation');"></td>
    </tr>
    <tr>
        <td>mgm_user</td>
        <td><div id="mgm_userStart"></div></td>
        <td><div id="mgm_userEnd"></div></td>
        <td></td>
        <td><div id="mgm_user"></div></td>
        <td><input type="button" value="{t}897,_('Shift'){/t}" onclick="shiftTable('mgm_user');"></td>
    </tr>
</table>



{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}