{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Meeting Usage Statistics"}
<div id="container">
    <ul>
        <li><a href="?action_list#fragment1"><span>Search</span></a></li>
        <li><a href="?action_user_agent_summary#fragment2"><span>Statistics</span></a></li>
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form2.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}

<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
{if $rows}
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value}（{$colum.item.relation_data.$value|escape:'html'}）{/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key}（{$select.data|escape:'html'}）{/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
{/if}
</table>
<input type="button" value="select all" class="inputCalendar" onclick="all_select();" />
<input type="button" value="deselect all" class="inputCalendar" onclick="all_clear();" />
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/csv_download.t.html"}
</form>
    </div>
    <div id="fragment2">
    <form action="./index.php#fragment2" method="post">
        <input type="text" id="start" name="start" value="{$smarty.request.start}" />
        <button type="reset" id="start_btn">Cal</button>
         ～
        <input type="text" id="end" name="end" value="{$smarty.request.end}" />
        <button type="reset" id="end_btn">Cal</button>
{literal}
<script type="text/javascript">
    Calendar.setup({
        inputField  : 'start',
        button      : 'start_btn',
        ifFormat    : '%Y/%m/%d %H:%M:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    });
    Calendar.setup({
        inputField  : "end",
        button      : "end_btn",
        ifFormat    : "%Y/%m/%d %H:%M:00",
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    });
</script>
{/literal}
        <input type="submit" name="action_user_agent_summary"/>
    </form>
[AS2]
<table class="searchList">
<thead>
    <tr>
        <th nowrap>Date</th>
        <th nowrap>User ID</th>
        <th nowrap>Count</th>
    </tr>
</thead>
<tbody>
{foreach from=$as2_summary item=row}
    <tr>
        <td>{$row.date|escape:'html'}</td>
        <td>{$row.user_id|escape:'html'}</td>
        <td>{$row.cnt|escape:'html'}</td>
    </tr>
{/foreach}
</tbody>
</table>

[AS3]
<table class="searchList">
<thead>
    <tr>
        <th nowrap>Date</th>
        <th nowrap>User ID</th>
        <th nowrap>Count</th>
    </tr>
</thead>
<tbody>
{foreach from=$as3_summary item=row}
    <tr>
        <td>{$row.date|escape:'html'}</td>
        <td>{$row.user_id|escape:'html'}</td>
        <td>{$row.cnt|escape:'html'}</td>
    </tr>
{/foreach}
</tbody>
</table>

    </div>
</div>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}