{literal}
<script type="text/javascript">
<!--
function option_add(){
    document.lump_regist._action.name = "action_room_option";
    document.lump_regist.submit();
}
function plan_add(){
    document.lump_regist._action.name = "action_room_plan";
    document.lump_regist.submit();
}
function action_confirm(){
    document.lump_regist._action.name = "action_confirm";
    document.lump_regist.submit();
}
function usr_option_add(){
    document.lump_regist._action.name = "action_user_option";
    document.lump_regist.submit();
}
function user_option_clear(){
    document.lump_regist._action.name = "action_user_option_clear";
    document.lump_regist.submit();
}
//-->
</script>

{/literal}
<form action="{$__frame.self}" name="lump_regist"  method="post">
<input type="hidden" name="_action" value="" />
<fieldset>
<legend>{t}1042,_('Entry All'){/t}</legend>
<table>
<tr>
    <td>{t}999901,_('country code'){/t}
    <td>
        <select name="country_key">
            <option value="1" {if "" == $smarty.request.country_key || "1" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>Japan</option>
            <option value="2" {if "2" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>US</option>
            <option value="3" {if "3" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>Singapore</option>
            <option value="4" {if "4" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>Malaysia</option>
            <option value="5" {if "5" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>China</option>
            <option value="0" {if "0" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>Other</option>
        </select>
        {$error.country_key}
    </td>
</tr><tr>
    <td>{t}999902,_('company name'){/t}
    <span class="required">*</span></td>
    <td>
        <input type="text" name="name" value="{$smarty.request.name|escape:'html'}">
        <span class="information">{t}4672,_('e.g.'){/t} ) {t}4673,_('V-cube Event'){/t}</span>
        {$error.name}
    </td>
</tr><tr>
    <td>{t}1043,_('user ID'){/t}
    <span class="required">*</span>
    </td>
    <td>
        <input type="text" name="prefix" value="{$smarty.request.prefix|escape:'html'}">
        <span class="information">{t}4672,_('e.g.'){/t} ) vstaff_</span>
        {$error.prefix}
    </td>
</tr><tr>
    <td>sequence start number
    <span class="required">*</span></td>
    <td>
        <input type="text" name="start" value="{$smarty.request.start|escape:'html'}" size="5">
        <span class="information">{t}4672,_('e.g.'){/t} ) {t}4674,_('"'){/t}100{t}4675,_('" is set,'){/t} xxx_100,xxx_101,... {t}4676,_('and'){/t}{t}1053,_('item_number'){/t}{t}4677,_(' accounts are'){/t}{t}1056,_('generated.'){/t}</span>
        {$error.start}
    </td>
</tr><tr>
    <td>Fill-digit count(fill by 0)
    <span class="required">*</span></td>
    <td>
        <input type="text" name="digit" value="{$smarty.request.digit|default:3|escape:'html'}" size="5" />
        {$error.digit}
    </td>
</tr><tr>
    <td>group</td>
    <td><input type="checkbox" id="group" name="group" value="1" {if $smarty.request.group == "1"} checked="checked"{/if}/> <label for="group">( Issued Account Plan Group)</label></td>
</tr><tr>
    <td>{t}1045,_('user PW'){/t}</td>
    <td>
        <input type="radio" name="user_pw" value="1" id="user_pw1" {if $smarty.request.user_pw == "1"} checked="checked"{/if} /><label for="user_pw1">{t}1046,_('the same with ID'){/t}</label>
        <input type="radio" name="user_pw" value="2" id="user_pw2" {if $smarty.request.user_pw != "1"} checked="checked"{/if} /><label for="user_pw2">{t}1047,_('random'){/t}</label>
        {$error.user_pw}
    </td>
</tr><tr>
    <td>{t}1045,_('admin PW'){/t}</td>
    <td>
        <input type="radio" name="user_admin_pw" value="1" id="user_admin_pw1" {if $smarty.request.user_admin_pw == "1"} checked="checked"{/if} /><label for="user_admin_pw1">{t}1046,_('the same with ID'){/t}</label>
        <input type="radio" name="user_admin_pw" value="2" id="user_admin_pw2" {if $smarty.request.user_admin_pw != "1"} checked="checked"{/if} /><label for="user_admin_pw2">{t}1047,_('Random'){/t}</label>
        {$error.user_admin_pw}
    </td>
</tr><tr>
    <td>{t}999903,_('post number'){/t}</td>
    <td>
        <input type="text" name="postnumber" value="{$smarty.request.postnumber|escape:'html'}">
        <span class="information">{t}999901,_('e.g.'){/t} ) {t}467399,_('999-9999'){/t}</span>
        {$error.postnumber}
    </td>
</tr><tr>
    <td>{t}999904,_('address'){/t}</td>
    <td>
        <input type="text" name="address" value="{$smarty.request.address|escape:'html'}">
        <span class="information">{t}999902,_('e.g.'){/t} ) {t}4673999,_('Megoru-ku,Tokyo'){/t}</span>
        {$error.address}
    </td>
</tr><tr>
    <td>{t}999905,_('Tel'){/t}</td>
    <td>
        <input type="text" name="phone" value="{$smarty.request.phone|escape:'html'}">
        <span class="information">{t}999903,_('e.g.'){/t} ) {t}4673999999,_('090-9999-9999'){/t}</span>
        {$error.phone}
    </td>
</tr><tr>
    <td>{t}999906,_('Fax'){/t}</td>
    <td>
        <input type="text" name="fax" value="{$smarty.request.fax|escape:'html'}">
        <span class="information">{t}999904,_('e.g.'){/t} ) {t}46739999999,_('03-9999-9999'){/t}</span>
        {$error.fax}
    </td>
</tr><tr>
    <td>{t}999907,_('staff department'){/t}</td>
    <td>
        <input type="text" name="department" value="{$smarty.request.department|escape:'html'}">
        <span class="information">{t}999905,_('e.g.'){/t} ) {t}4673999999999,_('CTU'){/t}</span>
        {$error.department}
    </td>
</tr><tr>
    <td>{t}999908,_('staff last name'){/t}</td>
    <td>
        <input type="text" name="lastname" value="{$smarty.request.lastname|escape:'html'}">
        {$error.lastname}
    </td>
</tr><tr>
</tr><tr>
    <td>{t}999909,_('staff first name'){/t}</td>
    <td>
        <input type="text" name="firstname" value="{$smarty.request.firstname|escape:'html'}">
        {$error.firstname}
    </td>
</tr><tr>
    <td>{t}999910,_('E-mail'){/t}</td>
    <td>
        <input type="text" name="email" value="{$smarty.request.email|escape:'html'}">
        <span class="information">{t}999906,_('e.g.'){/t} ) {t}4673999999999,_('xxx@vcube.co.jp'){/t}</span>
        {$error.email}
    </td>
</tr><tr>
    <td>{t}105599,_('start time'){/t}
    <span class="required">*</span></td>
    <td><input type="text" id="starttime" name="starttime" value="{$smarty.request.starttime|escape:'html'}" />
        <button type="reset" id="starttime_btn">Cal</button>
        {literal}
        <script type="text/javascript">
        Calendar.setup({
            inputField  : 'starttime',
            button      : 'starttime_btn',
            ifFormat    : '%Y/%m/%d 00:00:00',
            showsTime   : true,
            singleClick : true,
            weekNumbers : true,
            cache       : true
        });
        {/literal}
        </script>
        {$error.starttime}
    </td>
</tr><tr>
    <td>delete time</td>
    <td><input type="text" id="deletetime" name="deletetime" value="{$smarty.request.deletetime|escape:'html'}" />
        <button type="reset" id="deletetime_btn">Cal</button>
        {literal}
        <script type="text/javascript">
        Calendar.setup({
            inputField  : 'deletetime',
            button      : 'deletetime_btn',
            ifFormat    : '%Y/%m/%d 23:59:59',
            showsTime   : true,
            singleClick : true,
            weekNumbers : true,
            cache       : true
        });
        {/literal}
        </script>
        {$error.deletetime}
    </td>
</tr><tr>
		<td>Version
	<span class="required">*</span><td>
        <select name="meeting_version">
            <option value="">choose one</option>
            <option value="1" {if "1" == $smarty.request.meeting_version|escape:'html'}selected="selected"{/if}>4.6.5.0</option>
            <option value="4.7.0.0" {if "" == $smarty.request.meeting_version || "4.7.0.0" == $smarty.request.meeting_version|escape:'html'}selected="selected"{/if}>4.7.0.0</option>
        </select>
        {$error.meeting_version}
    </td>
</tr><tr>
    <td>{t}999910,_('Language Allow'){/t}</td>
    <td>
        <input type="text" name="lang_allow" value="{$smarty.request.lang_allow|escape:'html'}">
        {$error.lang_allow}
    </td>
</tr><tr>
    <td>{t}999911,_('intra FMS'){/t}
    <td>
        <select name="intra_fms">
            <option value="">choose one</option>
            <option value="1" {if "1" == $smarty.request.intra_fms|escape:'html'}selected="selected"{/if}>yes</option>
            <option value="0" {if "0" == $smarty.request.intra_fms|escape:'html'}selected="selected"{/if}>np</option>
        </select>
        {$error.intra_fms}
    </td>
</tr><tr>
    <td>status
    <span class="required">*</span></td>
    <td>
        <select name="user_status">
            <option value="">choose one</option>
            <option value="1" {if "1" == $smarty.request.user_status|escape:'html'}selected="selected"{/if}>active</option>
            <option value="2" {if "2" == $smarty.request.user_status|escape:'html'}selected="selected"{/if}>trial</option>
            <option value="0" {if "0" == $smarty.request.user_status|escape:'html'}selected="selected"{/if}>disable</option>
        </select>
        {$error.user_status}
    </td>
</tr><tr>
    <td>{t}999912,_('delete status'){/t}
    <td>
        <select name="user_delete_status">
            <option value="1" {if "1" == $smarty.request.user_delete_status|escape:'html'}selected="selected"{/if}>stop with expire</option>
            <option value="2" {if "2" == $smarty.request.user_delete_status|escape:'html'}selected="selected"{/if}>stop</option>
            <option value="0" {if "" == $smarty.request.user_delete_status || "0" == $smarty.request.user_delete_status|escape:'html'}selected="selected"{/if}>none</option>
        </select>
        {$error.user_delete_status}
    </td>
</tr><tr>
    <td>{t}999910,_('account model'){/t}
    <td>
        <select name="account_model">
            <option value="">choose one</option>
            <option value="member" {if "member" == $smarty.request.account_model|escape:'html'}selected="selected"{/if}>member</option>
            <option value="centre" {if "centre" == $smarty.request.account_model|escape:'html'}selected="selected"{/if}>centre</option>
            <option value="free" {if "free" == $smarty.request.account_model|escape:'html'}selected="selected"{/if}>free</option>
            <option value="" {if "" == $smarty.request.account_model|escape:'html'}selected="selected"{/if}>none</option>
        </select>
        {$error.account_model}
    </td>
</tr><tr>
    <td>max member number</td>
    <td>
        <input type="text" name="max_member_count" value="{$smarty.request.max_member_count|escape:'html'}" size="10" />
        {$error.max_member_count}
    </td>
</tr><tr>
    <td>invoice
    <td>
        <select name="invoice_flg">
            <option value="1" {if "" == $smarty.request.invoice_flg || "1" == $smarty.request.invoice_flg|escape:'html'}selected="selected"{/if}>yes</option>
            <option value="0" {if "0" == $smarty.request.invoice_flg|escape:'html'}selected="selected"{/if}>no</option>
        </select>
        {$error.invoice_flg}
    </td>
</tr><tr style="display:none">
    <td>payment terms
    <td>
        <select name="payment_terms">
            <option value="pre" {if "pre" == $smarty.request.payment_terms|escape:'html'}selected="selected"{/if}>pre</option>
            <option value="on" {if "on" == $smarty.request.payment_terms|escape:'html'}selected="selected"{/if}>on Paying Month</option>
            <option value="post" {if "" == $smarty.request.payment_terms || "post" == $smarty.request.payment_terms|escape:'html'}selected="selected"{/if}>post</option>
        </select>
        {$error.payment_terms}
    </td>
</tr><tr>
    <td>{t}999913,_('memo'){/t}</td>
    <td>
        <textarea name="memo"  cols="40"  rows="2">{$smarty.request.memo|escape:'html'}</textarea>
        {$error.memo}
    </td>
</tr><tr>
    <td>{t}999914,_('presence chat'){/t}
    <td>
        <select name="has_chat">
            <option value="">choose one</option>
            <option value="" {if "" == $smarty.request.has_chat|escape:'html'}selected="selected"{/if}>no</option>
            <option value="1" {if 1 == $smarty.request.has_chat|escape:'html'}selected="selected"{/if}>yes</option>
        </select>
        {$error.has_chat}
    </td>
</tr><tr>
    <td>{t}999915,_('Cybozu option'){/t}
    <td>
        <select name="is_cybozu_option">
            <option value="0" {if "" == $smarty.request.is_cybozu_option || "0" == $smarty.request.is_cybozu_option|escape:'html'}selected="selected"{/if}>no</option>
            <option value="1" {if "1" == $smarty.request.is_cybozu_option|escape:'html'}selected="selected"{/if}>yes</option>
        </select>
        {$error.is_cybozu_option}
    </td>
</tr><tr>
    <td>{t}999916,_('video sharing options'){/t}
    <td>
        <select name="use_clip_share">
            <option value="0" {if "" == $smarty.request.use_clip_share || "0" == $smarty.request.use_clip_share|escape:'html'}selected="selected"{/if}>no</option>
            <option value="1" {if "1" == $smarty.request.use_clip_share|escape:'html'}selected="selected"{/if}>yes</option>
        </select>
        {$error.use_clip_share}
    </td>
</tr><tr>
    <td>{t}999917,_('video sharing storage size(MB)'){/t}</td>
    <td>
        <input type="text" name="clip_share_storage_size" value="{$smarty.request.clip_share_storage_size|escape:'html'}" size="10" />
        {$error.clip_share_storage_size}
    </td>
</tr><tr>
    <td>{t}999918,_('service name'){/t}
    <td>
        <select name="service_name">
            <option value="V-CUBE Meeting"{if "" == $smarty.request.service_name || "V-CUBE Meeting" == $smarty.request.service_name|escape:'html'}selected="selected"{/if}>: V-CUBE Meeting</option>
            <option value="paperless"{if "paperless" == $smarty.request.service_name|escape:'html'}selected="selected"{/if}>paperless: paperless.nice2meet.us</option>
            <option value="pgi"{if "pgi" == $smarty.request.service_name|escape:'html'}selected="selected"{/if}>pgi: pgi.nice2meet.us</option>
            <option value="tact"{if "tact" == $smarty.request.service_name|escape:'html'}selected="selected"{/if}>tact: schoolie-gaia.nice2meet.us</option>
        </select>
        {$error.service_name}
    </td>
</tr><tr>
    <td>{t}999919,_('attribution'){/t}
    <td>
        <select name="agency" id="agency">
            <option value="">{t}1398,_('choose one'){/t}</option>
            {foreach from=$agency_list item=agency}
            <option value="{$agency.agency_id}" {if $smarty.request.agency == $agency.agency_id}seleced{/if}>{$agency.agency_name|escape:"html"}</option>
            {/foreach}
        </select>
        {$error.service_name}
    </td>
</tr><tr>
    <td>room name
    <span class="required">*</span></td>
    <td>
        <input type="radio" name="room_name" id="room_name1" value="user_id"{if $smarty.request.room_name == 'user_id'} checked="checked"{/if} /><label for="room_name1">the same with ID</label>
        <input type="radio" name="room_name" id="room_name2" value="account_name"{if $smarty.request.room_name == 'account_name'} checked="checked"{/if} /><label for="room_name2">the same with company name</label>
        {$error.room_name}
    </td>
</tr><tr>
    <td>{t}999919,_('max participant'){/t}</td>
    <td>
        <input type="text" name="max_seat" value="{if $max_seat != ""}{$max_seat}{else}{$smarty.request.max_seat|escape:'html'}{/if}" size="10" />
        {$error.max_seat}
    </td>
</tr><tr>
    <td>{t}999920,_('max audience'){/t}</td>
    <td>
        <input type="text" name="max_audience_seat" value="{if $max_audience_seat != "" }{$max_audience_seat}{else}{$smarty.request.max_audience_seat|escape:'html'}{/if}" size="10" />
        {$error.max_audience_seat}
    </td>
</tr><tr>
    <td>{t}999921,_('max whiteboard user'){/t}</td>
    <td>
        <input type="text" name="max_whiteboard_seat" value="{if $max_whiteboard_seat != ""}{$max_whiteboard_seat}{else}{$smarty.request.max_whiteboard_seat|escape:'html'}{/if}" size="10" />
        {$error.max_whiteboard_seat}
    </td>
</tr><tr>
    <td>{t}999922,_('max storage size'){/t}</td>
    <td>
        <input type="text" name="max_storage_size" value="{if $max_storage_size != ""}{$max_storage_size}{else}{$smarty.request.max_storage_size|escape:'html'}{/if}" size="10" />{t}999923,_('*Max storage size is 1000 if you do not enter'){/t}
        {$error.max_storage_size}
    </td>
</tr><tr>
    <td>{t}1050,_('plan'){/t}
    <span class="required">*</span>
    <td>
        <select name="service_key">
        {foreach from=$plan_list item=service}
            <option value="{$service.service_key}"
                {if $smarty.request.service_key == $service.service_key || $service_key ==  $service.service_key} selected="selected"{/if}>
                {$service.service_name|escape:"html"}
            </option>
        {/foreach}
        </select>
        {$error.service_key}
        <input type="button" onclick="plan_add();" value="{t}1281,_('add'){/t}"/>{$error.plan_button}
        <input type="hidden" name="plan_button"  value="{if $plan_button != ""}{$plan_button}{else}{$smarty.request.plan_button|escape:'html'}{/if}">
    </td>
</tr>
<tr>
    <td>
        <legend>{t}999922,_('option'){/t}</legend>
    </td><td>
        <table class="searchList">
            <tr>
                <th>{t}999922,_('option'){/t}</th>
                <td>
                    <select name="service_option_key">
                  {foreach from=$service_option key=key item=row}
                      {if $row.service_option_key != "7" || $service_key != "45" && $service_key != "46" && $service_key != "47"}
                             <option value="{$row.service_option_key}">
                                {$row.service_option_name|escape:"html"}
                                ( {t}999923,_('Option Key'){/t} : {$row.service_option_key} )
                                </option>
                            {/if}
                  {/foreach}
              </select>
                </td>
            </tr>
            <tr>
                <th>account type(Only for Video Conference)</th>
                <td>
                    <select name="video_conference_profileId">
                        <option value="">choose one</option>
                        <option value="281">test (id = 281)</option>
                        <option value="321">demo (id = 321)</option>
                        <option value="323">account (id = 323) </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>{t}999924,_('start time'){/t}</th>
                <td>                    <input type="text" id="option_start_time" name="option_start_time" value="{$option_date_default}" />
                    <button type="reset" id="option_start_time_btn">Cal</button>
                    <script type="text/javascript">
                        Calendar.setup({literal}{{/literal}
                            inputField  : 'option_start_time',
                            button      : 'option_start_time_btn',
                            ifFormat    : '%Y/%m/%d 00:00:00',
                            showsTime   : true,
                            singleClick : true,
                            weekNumbers : true,
                            cache       : true
                            {literal}}{/literal});
                    </script>
                </td>
            </tr>
                <td colspan="2" align="center">
                   <input type="button" onclick="option_add();" value="{t}1281,_('Add'){/t}"/>
                   <input type="button" onclick="plan_add();" value="{t}1281,_('Clear'){/t}"/>
               </td>
            </tr>
            {if $service_option_data}
            <tr>
                <th colspan="2"  align="center">{t}999925,_('Added'){/t}</th>
            </tr>
            <tr>
                <th>{t}999922,_('option'){/t}</th>
                <th>{t}999924,_('start time'){/t}</th>
            </tr>
                {foreach from=$service_option_data key=key item=row}
            <tr>
                <td>
                    {$row.service_option_name|escape:"html"} ( {t}999923,_('Option Key'){/t} : {$row.service_option_key} )
                </td>
                <td>{$row.option_start_time}</td>
            </tr>
                {/foreach}
            {/if}
        </table>
    </td>
</tr><tr>
    <td>{t}999924,_('entry user amount'){/t}
    <span class="required">*</span></td>
    <td>
        <input type="text" name="end" value="{$smarty.request.end|escape:'html'}" size="5" />
        <span class="information">{t}1054,_('the Max number is 1000'){/t}</span>
        {$error.end}
    </td>
</tr>
<tr>
    <td>
        <legend>{t}999922,_('user option'){/t}</legend>
    </td><td>
        <table class="searchList">
            <tr>
                <th>{t}999922,_('user option'){/t}</th>
                <td>
                    <select name="user_option_key">
                  {foreach from=$user_option key=key item=row}
                         <option value="{$row.service_option_key}">
                            {$row.service_option_name|escape:"html"}
                            ( {t}999923,_('Option Key'){/t} : {$row.service_option_key} )
                         </option>
                   {/foreach}
              </select>
                </td>
            </tr>
            <tr>
                <th>{t}999924,_('start time'){/t}</th>
                <td>                    <input type="text" id="user_option_start_time" name="user_option_start_time" value="{$option_date_default}" />
                    <button type="reset" id="user_option_start_time_btn">Cal</button>
                    <script type="text/javascript">
                        Calendar.setup({literal}{{/literal}
                            inputField  : 'user_option_start_time',
                            button      : 'user_option_start_time_btn',
                            ifFormat    : '%Y/%m/%d 00:00:00',
                            showsTime   : true,
                            singleClick : true,
                            weekNumbers : true,
                            cache       : true
                            {literal}}{/literal});
                    </script>
                </td>
            </tr>
                <td colspan="2" align="center">
                   <input type="button" onclick="usr_option_add();" value="{t}1281,_('Add'){/t}"/>
                   <input type="button" onclick="user_option_clear();" value="{t}1281,_('Clear'){/t}"/>
               </td>
            </tr>
            {if $user_option_data}
            <tr>
                <th colspan="2"  align="center">{t}999925,_('Added'){/t}</th>
            </tr>
            <tr>
                <th>{t}999922,_('option'){/t}</th>
                <th>{t}999924,_('start time'){/t}</th>
            </tr>
                {foreach from=$user_option_data key=key item=row}
            <tr>
                <td>
                    {$row.service_option_name|escape:"html"} ( {t}999923,_('Option Key'){/t} : {$row.service_option_key} )
                </td>
                <td>{$row.option_start_time}</td>
            </tr>
                {/foreach}
            {/if}
        </table>
    </td>
</tr>
<tr>
    <td></td>
    <td><input type="button" onclick="action_confirm();" value="{t}105699,_('Confirm'){/t}"></td>
</tr>
</table>
</fieldset>
</form>
