<div id="footer">

<p class="page-top"><a href="#wrapper">{t}23,_('ページトップへ'){/t}</a></p>

<div id="footer-logo" class="clearfix">
{if !$__frame.ignore_menu.company_logo}
<p class="logo-vcube">{if $__frame.service_info.company_site}<a href="{$__frame.service_info.company_site}" target="_blank">{/if}
<img src="/custom/pgi/lang/common/images/pgi_logo.png" alt="V-CUBE" />
{if $__frame.service_info.company_site}</a>{/if}</p>
{/if}
<p class="fla-dl"><a href="{$__frame.service_info.flash_plugin}" target="_blank"><img src="{$__frame.fep_directory}/shared/images/get_adobe_flash_player.png" alt="{t}261,_('Flash Playerをダウンロードする'){/t}" /></a><span>{t 1=$__frame.service_info.flash_plugin}262,_('このサービスをご利用になるには
<br /><a href="{$__frame.service_info.flash_plugin}" target="_blank">FlashPlayer</a>が必要です。'){/t}</span>
</p>
{if !$__frame.ignore_menu.inquiry}
<p class="tel"><img src="{$__frame.fep_directory}/lang/{$__frame.lang}/images/foot_tel.gif" alt="カスタマーサポート 0570-00-2192" /></p>
{/if}
</div>

<p class="copyright">{$__frame.service_info.company_cp_right}</p>

</div>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/debug.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/access_analyzer.t.html"}
