<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/calendar/calendar_stripped.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/calendar/lang/calendar-en_US.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/calendar/lang/calendar-{$__frame.lang}.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/calendar/calendar-setup_stripped.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="{$__frame.fep_directory}/shared/js/calendar/skins/tiger/theme.css" title="Aqua" />

<input type="text" name="info[startDate]" id="start_cal" class="input-date" value="{$reservation_data.info.reservation_starttime|date_format:'%Y/%m/%d'}" autocomplete="off" />
<input type="reset" id="start_btn" class="bt-cal" />
<select name="info[startHour]" id="startHour">
{section name=s_hour loop=24 start=0}
    <option value="{$smarty.section.s_hour.index|string_format:'%02d'}" {if $reservation_data.info.reservation_starttime|date_format:"%H" == $smarty.section.s_hour.index}selected="selected"{/if}>{$smarty.section.s_hour.index|string_format:"%02d"}</option>
{/section}
</select>
<span>{t}2284,_('時'){/t}</span>
<select name="info[startMin]" id="startMinute">
{section name=s_minute loop=60 start=0 step=5}
    <option value="{$smarty.section.s_minute.index|string_format:'%02d'}" {if $reservation_data.info.reservation_starttime|date_format:"%M" == $smarty.section.s_minute.index}selected="selected"{/if}>{$smarty.section.s_minute.index|string_format:"%02d"}</option>
{/section}
</select>
<span>{t}2285,_('分'){/t} ～</span>

<input type="text" name="info[endDate]" id="end_cal" class="input-date" value="{$reservation_data.info.reservation_endtime|date_format:'%Y/%m/%d'}" autocomplete="off" /><input type="reset" id="end_btn" class="bt-cal" />
<select name="info[endHour]" id="endHour">
{section name=e_hour loop=24 start=0}
    <option value="{$smarty.section.e_hour.index|string_format:'%02d'}" {if $reservation_data.info.reservation_endtime|date_format:"%H" == $smarty.section.e_hour.index}selected="selected"{/if}>{$smarty.section.e_hour.index|string_format:"%02d"}</option>
{/section}
</select>
<span>{t}2284,_('時'){/t}</span>
<select name="info[endMin]" id="endMinute">
{section name=e_minute loop=60 start=0 step=5}
    <option value="{$smarty.section.e_minute.index|string_format:'%02d'}" {if $reservation_data.info.reservation_endtime|date_format:"%M" == $smarty.section.e_minute.index}selected="selected"{/if}>{$smarty.section.e_minute.index|string_format:"%02d"}</option>
{/section}
</select>
<span>{t}2291,_('分まで予約'){/t}</span>

{literal}
<script type="text/javascript">

function setCalendar(cal, type) {
    var myStartTime = new Date($F('start_cal')+' '+$F("startHour")+':'+$F("startMinute")+':00');
    var myEndTime = new Date($F('end_cal')+' '+$F("endHour")+':'+$F("endMinute")+':00');
    if (myStartTime.getTime() >= myEndTime.getTime()) {
        var mySetDate = new Date();
        if (type == "start") {
            mySetDate.setTime(myStartTime.getTime() + (3600*1000));
            var myHour = $("endHour");
            var myMin  = $("endMinute");
        } else {
            mySetDate.setTime(myEndTime.getTime() - (3600*1000));
            var myHour = $("startHour");
            var myMin  = $("startMinute");
        }
        var mm = mySetDate.getMonth() + 1;
        if ( mm < 10) mm = "" + "0" + mm;
        var dd = mySetDate.getDate();
        if ( dd < 10 ) dd = "" + "0" + dd;
        if (type == "start") {
            $('end_cal').value = mySetDate.getFullYear() + "/" + mm + "/" + dd;
        } else {
            $('start_cal').value = mySetDate.getFullYear() + "/" + mm + "/" + dd;
        }
        for (i = 0; i < myHour.length; i++) {
            if (myHour.options[i].value == mySetDate.getHours()) {
                myHour.options[i].selected = true;
            }
        }
        for (i = 0; i < myMin.length; i++) {
            if (myMin.options[i].value == mySetDate.getMinutes()) {
                myMin.options[i].selected = true;
            }
        }
    }
    schedule_list(document.mailForm);
    cal.hide();
}
var MINUTE = 60 * 1000;
var HOUR = 60 * MINUTE;
var DAY = 24 * HOUR;
var WEEK = 7 * DAY;

function ourDateStatusFunc(date, y, m, d) {
    var today = new Date();
    if (date.getTime() < (today.getTime()) - 2 * DAY) {
        return true;
    } else if (date.getTime() > (today.getTime()) + 365 * DAY) {
        return true;
    } else {
        return false;
    }
}

// start date
var calParams = {
    inputField     :    "start_cal",
    ifFormat       :    "%Y/%m/%d",
    showsTime      :    false,
    button         :    "start_btn",
    singleClick    :    true,
    step           :    1,
    onClose        :    function(cal){setCalendar(cal, 'start')},
    dateStatusFunc :    ourDateStatusFunc
    };
Calendar.setup(calParams);
calParams["button"] = "start_cal";
Calendar.setup(calParams);
// end date
var endParam = {
    inputField     :    "end_cal",
    ifFormat       :    "%Y/%m/%d",
    showsTime      :    false,
    button         :    "end_btn",
    singleClick    :    true,
    step           :    1,
    onClose        :    function(cal){setCalendar(cal, 'end')},
    dateStatusFunc :    ourDateStatusFunc
    };
Calendar.setup(endParam);
endParam["button"] = "end_cal";
Calendar.setup(endParam);

</script>
{/literal}

<div id="timeTable">
{$schedule_list}
</div>

{if $__frame.time_zone_list|@count > 1}
    <div class="timezone-sec">
    {t}4560,_('標準時からの時差'){/t}
    <select name="info[reservation_place]" id="timeDifference" onchange="schedule_list(document.mailForm);">
    {foreach from=$__frame.time_zone_list item=tz}
    <option value="{$tz.key}"{if $reservation_data.info.reservation_place === $tz.key} selected="selected"{/if}>{$tz.value}</option>
    {/foreach}
    </select>
    <span>{t}2279,_('時間'){/t}</span>
    </div>
{else}
    {foreach from=$__frame.time_zone_list item=tz}
    <input type="hidden" id="timeDifference" name="info[reservation_place]" value="{$tz.key}" />
    {/foreach}
{/if}
