<div class="reserve-col clearfix">
<!-- h3>{t}2341,_('予約情報'){/t}</h3 -->

<table>
<col class="key" />
<col class="value" />
<tr class="room-col">
<th>{t}2342,_('会議室'){/t}</th>
<td>
{if !$__frame.ignore_menu.display_room_list && !$reservation_data.info.meeting_key}
    <select name="info[room_key]" id="roomKey">
{foreach from=$__frame.room_list item=room}
<option value="{$room.room_info.room_key}"{if $reservation_data.info.room_key == $room.room_info.room_key} selected="selected"{/if}>{$room.room_info.room_name|escape:"html"}</option>
{/foreach}
</select>
{elseif $reservation_data.info.meeting_key}
<input type="hidden" id="roomKey" value="{$reservation_data.info.room_key}" />
{$__frame.room_list[$reservation_data.info.room_key].room_info.room_name|escape:"html"}
{else}
<input type="hidden" id="roomKey" value="{$reservation_data.info.room_key}" />
{$__frame.room_list[$reservation_data.info.room_key].room_info.room_name|escape:"html"}
{/if}
{if $__frame.room_list[$reservation_data.info.room_key].options.desktop_share or
$__frame.room_list[$reservation_data.info.room_key].options.meeting_ssl or
$__frame.room_list[$reservation_data.info.room_key].options.high_quality or
$__frame.room_list[$reservation_data.info.room_key].options.h323_number}
<ul class="roomOption">
{if $__frame.room_list[$reservation_data.info.room_key].options.desktop_share}<li>{t}2343,_('共有'){/t}</li>{/if}
{if $__frame.room_list[$reservation_data.info.room_key].options.meeting_ssl}<li>{t}2344,_('暗号化'){/t}</li>{/if}
{if $__frame.room_list[$reservation_data.info.room_key].options.high_quality}<li>{t}2345,_('高画質'){/t}</li>{/if}
{if $__frame.room_list[$reservation_data.info.room_key].options.h323_number}<li>H323:&nbsp;{$__frame.room_list[$reservation_data.info.room_key].options.h323_number}</li>{/if}
</ul>
{/if}
</td>
</tr>

<tr class="date-col">
<th>{t}2347,_('予約日時'){/t}</th>
<td>
{if $reservation_data.info.status != "now"}
    {* calendar *}
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="user/yoyaku/calender.t.html"}
{else}
    {$reservation_data.info.reservation_starttime|date_format:"%Y/%m/%d %H:%M"} &#65374;
    {$reservation_data.info.reservation_endtime|date_format:"%Y/%m/%d %H:%M"}&nbsp;&nbsp;
    (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
{/if}
</td>
</tr>
<tr class="name-col">
<th>{t}2348,_('会議名'){/t}</th>
<td>
{if $reservation_data.info.status != "now"}
    <input name="info[reservation_name]" id="reservationName" type="text" class="input-title" value="{$reservation_data.info.reservation_name|escape:"html"}"/>
{else}
    {$reservation_data.info.reservation_name|escape:"html"}
{/if}
</td>
</tr>

<tr class="password-col">
<th>{t}2349,_('パスワード'){/t}</th>
<td>
{if $reservation_data.info.status != "now"}
    <input type="hidden" name="security_pw_flg" value="{$reservation_data.info.security_pw_flg}" />
    <p>
    {if $reservation_data.info.security_pw_flg == 0}<input type="radio" id="pass_off" name="pw_flg" value="0" {if $reservation_data.pw_flg != 1}checked="checked"{/if}/><label for="pass_off">{t}2350,_('設定しない'){/t}</label>&nbsp;{/if}
    {if $reservation_data.info.old_reservation_pw && $reservation_data.info.meeting_key}
        <input type="radio" id="pass_on" name="pw_flg" value="1" {if $reservation_data.pw_flg == 1}checked="checked"{/if}/><label for="pass_on">{t}2351,_('変更する'){/t}</label>&nbsp;
        <input type="radio" id="pass_no" name="pw_flg" value="2" {if $reservation_data.pw_flg == 2}checked="checked"{/if}/><label for="pass_no">{t}2352,_('変更しない'){/t}</label>&nbsp;
    {elseif $reservation_data.info.security_pw_flg == 0}
        <input type="radio" id="pass_on" name="pw_flg" value="1" {if $reservation_data.pw_flg == 1 || $reservation_data.info.security_pw_flg == 1}checked="checked"{/if}/><label for="pass_on">{t}2353,_('設定する'){/t}</label>&nbsp;
    {/if}
    </p>

    <!-- ここから動的に表示ON/OFF -->
    {if $reservation_data.info.security_pw_flg == 1 && !$reservation_data.info.old_reservation_pw}
    <input type="hidden" name="pw_flg" value="1">
    <div id="pwForm_security" style="display: block; visibility: visivle;">
    {else}
    <div id="pwForm"{if $reservation_data.pw_flg != 1} style="display: none;"{/if}>
    {/if}
    <div class="pass-here">
    <p class="form-txt">{t}6598,_('パスワードを設定する項目を選択してください。'){/t}</p>
    <input type="radio" id="pw_type1" name="info[reservation_pw_type]" value="1"{if $reservation_data.info.reservation_pw_type != "2"} checked="checked"{/if} /> <label for="pw_type1">{t}6599,_('会議記録と入室'){/t}</label>
    <br /><input type="radio" id="pw_type2" name="info[reservation_pw_type]" value="2"{if $reservation_data.info.reservation_pw_type == "2"} checked="checked"{/if} /> <label for="pw_type2">{t}6600,_('会議記録'){/t}</label>
    </div>
    <fieldset>
    <p class="attention">{t}6601,_('※半角英数字 6文字以上、16文字以内で入力してください'){/t}</p>
    <input name="info[reservation_pw]" type="password" class="input-pass" id="reservationPw" value="" maxlength="16" />
    <br /><input name="info[reservation_pw_confirm]" type="password" class="input-pass" id="reservationPwConfirm" value="" maxlength="16" />（ {t}6602,_('確認用'){/t} ）
    </fieldset>
    </div>
    <!-- ここまで表示ON/OFFエリア -->

{else}
{if ! $reservation_data.info.reservation_pw}{t}4575,_('設定なし'){/t}{else}{t}4576,_('設定有り'){/t} {if $reservation_data.info.reservation_pw_type != "2"}({t}6599,_('会議記録と入室'){/t}){elseif $reservation_data.pw_type == 2}{t}6600,_('会議記録'){/t}{/if}{/if}
<input type="hidden" id="pass_no" name="pw_flg" value="3" />
{/if}
</tr>

{if $reservation_data.info.room_option.multicamera > 0}
<tr class="multiCameraSection">
<th>{t}6603,_('マルチカメラ'){/t}</th>
<td>
    {if $reservation_data.info.status != "now"}
    <p>
    <input type="radio" onclick="multicamera_select()" id="multicamera_on" name="info[is_multicamera]" value="1" {if $reservation_data.info.is_multicamera != "0"}checked="checked"{/if}/><label for="multicamera_on" onclick="return clickFormLabel(this)">{t}6545,_('使用する'){/t}</label>&nbsp;
    <input type="radio" onclick="multicamera_unselect()" id="multicamera_off" name="info[is_multicamera]" value="0" {if $reservation_data.info.is_multicamera == "0"}checked="checked"{/if}/><label for="multicamera_off" onclick="return clickFormLabel(this)">{t}6546,_('使用しない'){/t}</label>&nbsp;
    </p>
    <p class="attention">{t}6606,_('※ マルチカメラを使用するとH323、携帯呼び出し機能が無効となります。'){/t}</p>
    {else}
    {if $reservation_data.info.is_multicamera == "1"}{t}6545,_('使用する'){/t}{else}{t}6546,_('使用しない'){/t}{/if}
    {/if}
</td>
</tr>
{/if}

<tr class="function-col">
<th>{t}6607,_('機能制限'){/t}</th>
<td>
    {if $reservation_data.info.status != "now"}
    <p><input type="radio" id="limited_function_off" name="info[is_limited_function]" value="0" {if $reservation_data.info.is_limited_function == 0}checked="checked"{/if}/><label for="limited_function_off">{t}2350,_('設定しない'){/t}</label>&nbsp;
    <input type="radio" id="limited_function_on" name="info[is_limited_function]" value="1" {if $reservation_data.info.is_limited_function == 1}checked="checked"{/if}/><label for="limited_function_on">{t}2353,_('設定する'){/t}</label>&nbsp;</p>

    <!-- ここから動的に表示ON/OFF -->
    <div id="limited_function-sec" class="clearfix"{if $reservation_data.info.is_limited_function == 0} style="display: none;"{/if}>
    <table id="orgTable" onclick="return myTableHandler.call(this, event); ">
    {if $reservation_data.info.room_option.telephone > 0}
    <tr class="telephoneSection">
    <th>{t}6608,_('音声通話'){/t}</th>
    <td><p><input type="radio" id="telephone_on" name="info[is_telephone]" value="1" {if $reservation_data.info.is_telephone != "0"}checked="checked"{/if}/><label for="telephone_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="telephone_off" name="info[is_telephone]" value="0" {if $reservation_data.info.is_telephone == "0"}checked="checked"{/if}/><label for="telephone_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    {if $reservation_data.info.room_option.h323_number > 0}
    <tr class="h323Section">
    <th>H.323</th>
    <td><p><input type="radio" id="h323_on" name="info[is_h323]" value="1" {if $reservation_data.info.is_h323 != "0"}checked="checked"{/if}/><label for="h323_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="h323_off" name="info[is_h323]" value="0" {if $reservation_data.info.is_h323 == "0"}checked="checked"{/if}/><label for="h323_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    {if $reservation_data.info.room_option.high_quality > 0}
    <tr class="highQualitySection">
    <th>{t}6610,_('高画質'){/t}</th>
    <td><p><input type="radio" id="high_quality_on" name="info[is_high_quality]" value="1" {if $reservation_data.info.is_high_quality != "0"}checked="checked"{/if}/><label for="high_quality_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="high_quality_off" name="info[is_high_quality]" value="0" {if $reservation_data.info.is_high_quality == "0"}checked="checked"{/if}/><label for="high_quality_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    {if $reservation_data.info.room_option.desktop_share > 0}
    <tr class="desktopShareSection">
    <th>{t}6611,_('共有'){/t}</th>
    <td><p><input type="radio" id="desktop_share_on" name="info[is_desktop_share]" value="1" {if $reservation_data.info.is_desktop_share != "0"}checked="checked"{/if}/><label for="desktop_share_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="desktop_share_off" name="info[is_desktop_share]" value="0" {if $reservation_data.info.is_desktop_share == "0"}checked="checked"{/if}/><label for="desktop_share_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    {if $reservation_data.info.room_option.meeting_ssl > 0}
    <tr class="meetingSslSection">
    <th>{t}6612,_('暗号化'){/t}</th>
    <td><p><input type="radio" id="meeting_ssl_on" name="info[is_meeting_ssl]" value="1" {if $reservation_data.info.is_meeting_ssl != "0"}checked="checked"{/if}/><label for="meeting_ssl_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="meeting_ssl_off" name="info[is_meeting_ssl]" value="0" {if $reservation_data.info.is_meeting_ssl == "0"}checked="checked"{/if}/><label for="meeting_ssl_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    <tr class="inviteSection">
    <th>{t}6613,_('会議室内招待'){/t}</th>
    <td><p><input type="radio" id="invite_on" name="info[is_invite_flg]" value="1" {if $reservation_data.info.is_invite_flg != "0"}checked="checked"{/if}/><label for="invite_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="invite_off" name="info[is_invite_flg]" value="0" {if $reservation_data.info.is_invite_flg == "0"}checked="checked"{/if}/><label for="invite_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>

    <tr class="recSection">
    <th>{t}6614,_('録画'){/t}</th>
    <td><p><input type="radio" id="rec_on" name="info[is_rec_flg]" value="1" {if $reservation_data.info.is_rec_flg != "0"}checked="checked"{/if}/><label for="rec_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="rec_off" name="info[is_rec_flg]" value="0" {if $reservation_data.info.is_rec_flg == "0"}checked="checked"{/if}/><label for="rec_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>

    {if $reservation_data.info.room_option.cabinet > 0}
    <tr class="cabinetSection">
    <th>{t}6615,_('ファイル転送'){/t}</th>
    <td><p><input type="radio" id="cabinet_on" name="info[is_cabinet_flg]" value="1" {if $reservation_data.info.is_cabinet_flg != "0"}checked="checked"{/if}/><label for="cabinet_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="cabinet_off" name="info[is_cabinet_flg]" value="0" {if $reservation_data.info.is_cabinet_flg == "0"}checked="checked"{/if}/><label for="cabinet_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}
    <input type="hidden" id="wb_no_on" name="info[is_wb_no_flg]" value="{$reservation_data.info.is_wb_no_flg}" />
    <!-- tr class="wbNoSection">
    <th>ホワイトボードページ番号</th>
    <td><p><input type="radio" id="wb_no_on" name="info[is_wb_no_flg]" value="1" {if $reservation_data.info.is_wb_no_flg != "0"}checked="checked"{/if}/><label for="wb_no_on">{t}6604,_('使用する'){/t}</label>&nbsp;
        <input type="radio" id="wb_no_off" name="info[is_wb_no_flg]" value="0" {if $reservation_data.info.is_wb_no_flg == "0"}checked="checked"{/if}/><label for="wb_no_off">{t}6605,_('使用しない'){/t}</label>&nbsp;</p>
    </td></tr -->
    </table>
    </div>
{else}
    {if $reservation_data.info.is_limited_function == 1}設定有り{else}設定なし{/if}
{/if}
</td>
</tr>

{if !$__frame.ignore_menu.invite}
<tr>
<th>{t}2355,_('開催通知'){/t}</th>
<td>
{if !($reservation_data.has_guest == 1 && $reservation_data.is_modified == 1)}
<p><input type="radio" id="guest_off" name="guest_flg" value="0" {if $reservation_data.guest_flg != 1} checked="checked"{/if}/><label for="guest_off">{t}2350,_('設定しない'){/t}</label>&nbsp;
<input type="radio" id="guest_on" name="guest_flg" value="1" {if $reservation_data.guest_flg == 1} checked="checked"{/if}/><label for="guest_on">{t}2353,_('設定する'){/t}</label></p>
{else}
<input type="hidden" id="guest_on" name="guest_flg" value="1">
{/if}


    <!-- ここから動的に表示ON/OFF -->
    <div id="guest-col" class="clearfix"{if $reservation_data.guest_flg != 1} style="display: none;"{/if}>
    <div id="guest-sec">
    <span class="sec-ti">{t}2358,_('参加者'){/t}</span>
    <span class="button button22 b22-blue" id="address_book"><span class="button-inner">
    <input type="button" value="{t}2359,_('アドレス帳を開く'){/t}" class="icon i-address" />
    </span></span>
    <p class="form-txt">{t}2360,_('招待したい方の情報を入力してください。招待可能な人数は契約内容をご確認ください。'){/t}</p>

    <div id="guests" style="display: none;">
    {t}2378,_('名前'){/t} :
    <input type="text" id="name" name="name" value="" size="13" class="input-name" />
    &nbsp;{t}2379,_('メールアドレス'){/t} :
    <input type="text" id="email" name="email" value="" size="30" class="input-mail" />
    &nbsp;
    <br />
    <select id="lang" name="lang">
        {foreach from=$__frame.lang_list key=lang_key item=lang_name}
        <option value="{$lang_key}" {if $lang_key == $guest.r_user_lang|default:$cookie_lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
        {/foreach}
    </select>
    <select id="timezone" name="timezone">
        <option value="100">{t}2361,_('予約者と同じ'){/t}</option>
        {foreach from=$__frame.time_zone_list item=tz}
        <option value="{$tz.key}"{if $guest.r_user_place === $tz.key} selected="selected"{/if}>{$tz.value}</option>
        {/foreach}
    </select>
    {if $__frame.room_list[$reservation_data.info.room_key].room_info.max_audience_seat > 0}
        <select id="type" name="type">
        <option value="">{t}2362,_('通常ユーザ'){/t}</option>
        <option value="1" >{t}2363,_('オーディエンス'){/t}</option>
        </select>
    {/if}
    </div>

    <a href="javascript:void(0);" id="go_timezone">{t}2364,_('タイムゾーンについて'){/t}</a>
    <table id="table1" onclick="return myTableHandler.call(this, event);">
    <col class="name" />
    <col class="email" />
    <col class="lang" />
    <col class="time" />
    {if $__frame.room_list[$reservation_data.info.room_key].room_info.max_audience_seat > 0}
        <col class="type" />
    {/if}
    <col class="delete" />
    <thead>
    <tr>
    <th>{t}2365,_('名前'){/t}</th>
    <th>{t}2366,_('メール'){/t}</th>
    <th>{t}2367,_('言語'){/t}</th>
    <th>{t}2368,_('タイムゾーン'){/t}</th>
    {if $__frame.room_list[$reservation_data.info.room_key].room_info.max_audience_seat > 0}
        <th>{t}2369,_('タイプ'){/t}</th>
    {/if}
    <th>{t}2370,_('削除'){/t}</th>
    </tr>
    </thead>
    <tbody>
    {foreach from=$reservation_data.guests item=guest}
    <tr>
    <input name="guests[r_user_session][]" value="{$guest.r_user_session}" type="hidden">
    <td>
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' }
        <input class="input-name" name="guests[name][]" value="{$guest.name|escape:'html'}" type="text" />{if $__frame.lang == "ja_JP"}様{/if}
    {else}
        <input class="input-name disabled" name="guests[name][]" value="{$guest.name|escape:'html'}" type="text" readonly="readonly" />{if $__frame.lang == "ja_JP"}様{/if}
    {/if}
    </td>
    <td>
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' }
        <input class="input-mail" name="guests[email][]" value="{$guest.email|escape:'html'}" type="text" />
    {else}
        <input class="input-mail disabled" name="guests[email][]" value="{$guest.email|escape:'html'}" type="text" readonly="readonly" />
    {/if}
    </td>
    <td>
    <select name="guests[lang][]">
        {foreach from=$__frame.lang_list key=lang_key item=lang_name}
        <option value="{$lang_key}" {if $lang_key == $guest.lang|default:$cookie_lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
        {/foreach}
    </select>
    </td>
    <td>
    <select name="guests[timezone][]">
    <option value="100" {if $guest.r_user_place == "100"}selected="selected"{/if}>{t}2361,_('予約者と同じ'){/t}</option>
        {foreach from=$__frame.time_zone_list item=tz}
        <option value="{$tz.key}"{if $guest.timezone === $tz.key} selected="selected"{/if}>GMT {if $tz.key >= 0}+{/if}{$tz.key}</option>
        {/foreach}
    </select>
    </td>
    {if $__frame.room_list[$reservation_data.info.room_key].room_info.max_audience_seat > 0}
    <td>
        <select name="guests[type][]">
        <option value="">{t}2362,_('通常ユーザ'){/t}</option>
        <option value="1"{if $guest.type == "1"} selected="selected"{/if}>{t}2363,_('オーディエンス'){/t}</option>
        </select>
    </td>
    {/if}
    <td><input type="button" name="invite_del" value="{t}2370,_('削除'){/t}" class="bt70-x" /></td>
    </tr>
    {/foreach}
    </tbody>
    </table>

    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' }
        <p class="add-sec">
        <span class="button button25"><span class="button-inner"><input type="button" id="add_invite" value="{t}2375,_('参加者追加'){/t}" class="icon i-add" />
        </span></span></p>
    {/if}
    </div>

    <div id="sender-sec" class="clearfix">
    <span class="sec-ti">{t}2376,_('差出人'){/t}</span>
    <p class="form-txt">{t}2377,_('あなたの名前、メールアドレス、メッセージを入力してください。招待メールの差出人情報となります。'){/t}</p>
    <dl id="mailSender" class="clearfix">
    <dt>{t}2378,_('名前'){/t} : </dt>
    <dd>
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' }
        <input name="info[sender]" type="text" class="input-name" id="sender" value="{$reservation_data.info.sender|escape:"html"}" />{if $__frame.lang == "ja_JP"}様{/if}
        {if $is_modified != true}
        <input type="checkbox" id="name_save" name="name_save" value="1" {if $reservation_data.name_save == 1} checked="checked"{/if}>{t}7876,_('この情報を保存する'){/t}
        {/if}
    {else}
        <input name="info[sender]" type="text" class="input-name disabled" id="sender" value="{$reservation_data.info.sender|escape:"html"}" readonly="readonly" />{if $__frame.lang == "ja_JP"}様{/if}
    {/if}
    </dd>
    <dt>{t}2379,_('メールアドレス'){/t} : </dt>
    <dd>
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' }
        <input name="info[sender_mail]" type="text" class="input-mail" id="senderMail" value="{$reservation_data.info.sender_mail|escape:"html"}" />
        {if $is_modified != true}
        <input type="checkbox" id="email_save" name="email_save" value="1" {if $reservation_data.email_save == 1} checked="checked"{/if}>{t}7876,_('この情報を保存する'){/t}
        {/if}
    {else}
        <input name="info[sender_mail]" type="text" class="input-mail disabled" id="senderMail" value="{$reservation_data.info.sender_mail|escape:"html"}" readonly="readonly" />
    {/if}
    </dd>
    <dt>{t}2380,_('メッセージ'){/t} : </dt>
    <dd><textarea name="info[mail_body]" cols="80" rows="3" id="mailBody">{$reservation_data.info.mail_body|escape:"html"}</textarea></dd>
    </dl>
    {if $__frame.n2my.auto_address_book}
        <p class="form-txt">{t}2381,_('メールアドレスを自動でアドレス帳に登録します。'){/t}</p>
        <input type="radio" id="auto_addressbook_off" name="info[auto_addressbook_flg]" value="0" {if $reservation_data.info.auto_addressbook_flg != 1} checked="checked"{/if}/><label for="auto_addressbook_off">{t}2350,_('設定しない'){/t}</label>&nbsp;
        <input type="radio" id="auto_addressbook_on" name="info[auto_addressbook_flg]" value="1" {if $reservation_data.info.auto_addressbook_flg == 1} checked="checked"{/if}/><label for="auto_addressbook_on">{t}2353,_('設定する'){/t}</label>
    {/if}
    </div>
    </div>
    <!-- ここまで動的に表示ON/OFF -->

</td>
</tr>
{/if}
{if $reservation_data.is_modified == 1}
<tr id="mail-resend-sec" {if $reservation_data.guest_flg == 0}style="display:none"{/if} >
<th>{t}8017,_('メール通知'){/t}</th>
<td>
<p>
<input type="radio" id="mail_send_all" name="mail_send_type" value="2" {if $reservation_data.mail_send_type == 2}checked="checked"{/if}/>
<label for="mail_send_all">{t}8018,_('全員送信'){/t}</label>&nbsp;&nbsp;&nbsp;
<input type="radio" id="mail_send_none" name="mail_send_type" value="0" {if $reservation_data.mail_send_type == 0}checked="checked"{/if}/>
<label for="mail_send_none">{t}8019,_('送信しない'){/t}</label>&nbsp;&nbsp;&nbsp;
{if $reservation_data.has_guest == 1}
<input type="radio" id="mail_send_modify" name="mail_send_type" value="1" {if $reservation_data.mail_send_type == 1}checked="checked"{/if}/>
<label for="mail_send_modify">{t}8020,_('追加・変更・削除した参加者にのみ送信'){/t}</label>&nbsp;&nbsp;
{/if}
</p>
</td>
</tr>
{/if}
<tr id="reminder-sec" {if $reservation_data.guest_flg == 0}style="display:none"{/if}>
<th>{t}8013,_('リマインダー'){/t}</th>
<td>
<p><input type="radio" id="is_reminder_flg_off" name="info[is_reminder_flg]" value="0" {if $reservation_data.info.is_reminder_flg != "1"}checked="checked"{/if}/><label for="is_reminder_flg_off">{t}2350,_('設定しない'){/t}</label>&nbsp;
<input type="radio" id="is_reminder_flg_on" name="info[is_reminder_flg]" value="1" {if $reservation_data.info.is_reminder_flg == "1"}checked="checked"{/if}/><label for="is_reminder_flg_on">{t}2353,_('設定する'){/t}</label>&nbsp;</p>
 <p class="form-txt"><span class="attention">{t}8014,_('※「利用する」を選択すると、会議開始の1～2時間前に各参加者へ開催通知を再送信します。<br />会議開始時刻が1時間以内の場合は送信されません。'){/t}</span></p>
</td>
</tr>
<tr>
<th>{t}2384,_('資料事前<br />アップロード'){/t}</th>
<td>
{if $reservation_data.info.status != "now"}
<p><input type="radio" id="upload_off" name="upload_flg" value="0" {if $reservation_data.upload_flg != 1}checked="checked"{/if}/><label for="upload_off">{t}2350,_('設定しない'){/t}</label>&nbsp;
<input type="radio" id="upload_on" name="upload_flg" value="1" {if $reservation_data.upload_flg == 1}checked="checked"{/if}/><label for="upload_on">{t}2353,_('設定する'){/t}</label></p>
<p class="form-txt">{t}2388,_('会議中ホワイトボードに表示したい資料を事前にアップロードすることができます。'){/t}</p>
<p class="notes"><span class="bold">{t}4588,_('対応フォーマット'){/t} : </span>{if $display_filetype}{$display_filetype}
        <br /><span class="bold">{t}4577,_('サイズ'){/t} : </span>
        {if $document_list}{$document_list|escape:"html"} = {t 1=$room_info.room_info.whiteboard_size}6444,_('１ファイルにつき %1$s MBまで'){/t}
        {/if}
        <br />
        {if $image_list}{$image_list|escape:"html"} = {if $room_info.room_info.whiteboard_size > 5}{assign var='image_size' value=5}{else}{assign var='image_size' value=$room_info.room_info.whiteboard_size}{/if}{t 1=$image_size}6444,_('１ファイルにつき %1$s MBまで'){/t}{/if}
    {else}{t}6616,_('指定無し'){/t}{/if}</p>

    <p class="attention">{t}6659,_('※【高画質モード（ベータ版）】について<br />「高画質」を選択すると、ホワイトボードで拡大表示にしても資料が鮮明に表示されます。<br />（変換には通常よりも時間がかかる場合があります）<br />Word、Excel、PowerPointは高画質モードで変換が可能です。それ以外のファイルは<br />「高画質」を選択しても高画質モードで変換されません。'){/t}</p>

    <!-- ここから動的に表示ON/OFF -->
    <div id="upload-sec" class="clearfix" {if $reservation_data.upload_flg != 1} style="display: none;"{/if}>
    <div id="targetEl">
    <table id="orgTable" onclick="return myTableHandler.call(this, event); ">
    <col class="sort" />
    <col class="file" />
    <col class="name" />
    <col class="delete" />
    <thead>
    <tr>
    <th></th>
    <th>{t}2390,_('ファイル'){/t}</th>
    <th>{t}2391,_('資料名'){/t}</th>
    <th>{t}2370,_('削除'){/t}</th>
    </tr>
    </thead>
    <tbody id="docTableBody">
    {foreach from=$reservation_data.documents key=document_id item=document}
    {if ($document.name || $document_id) && !$document.not_delete && !$document.delete}
        <tr>
        <td>
        <input name="up" value="{t}2393,_('↑'){/t}" type="button" class="bt-up" />
        <input name="down" value="{t}2394,_('↓'){/t}" type="button" class="bt-down" />
        </td>
        {if $document.error != 0}
        <td><input type="file" name="document[]" size="25" class="input-file" /></td>
        <td><input type="hidden" name="sort[]" class="document_sort" /><input type="text" name="filename[]" class="input-name" value="{$document.name|escape:'html'}" /></td>
    {else}
        <td>
        <div class="document-list">
            <p class="base">
            {if $document.status == 2}<a href="/d/{$document_id}/1/" src="/d/{$document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.index} )" alt="" border="0">{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}
            [ <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4582,_('変換待ち'){/t}{
            elseif $document.status == 1}{t}4581,_('変換中'){/t}{
            elseif $document.status == 2}{t}4583,_('変換完了'){/t}{
            elseif $document.status == 3}{t}2370,_('削除'){/t}{
            else}{t}4586,_('エラー'){/t}{
            /if}</span> ]
            </p>
{section name=cnt start=1 loop=$document.index}
                <a href="/d/{$document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.index} )" alt="" border="0"></a>
{/section}
        </div>
        </td>
        <td><input type="hidden" name="sort[{$document_id}]" class="document_sort" /><input type="text" name="filename[{$document_id}]" class="input-name" value="{$document.name|escape:'html'}" /></td>
    {/if}
    <td><input type="button" name="invite_del" value="{t}2370,_('削除'){/t}" class="bt70-x" /></td>
    </tr>
{/if}
{/foreach}
</tbody>
</table>

</div>
<p class="add-sec">
<span class="button button25"><span class="button-inner">
{if !$__frame.ignore_menu.document_vector}
<input type="hidden" id="document_vector" value="1" />
{/if}
<input type="button" id="add_document" value="{t}2396,_('資料追加'){/t}" class="icon i-add" />
</span></span></p>
</div>

{else}
    {if $reservation_data.documents}
    {foreach from=$reservation_data.documents key=document_id item=document name=documents}
        <div class="document-list">
        {if $document.name || $document_id}
            <p class="base">{if $document.status == 2}<a href="/d/{$document_id}/1/" src="/d/{$document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.index} )" alt="" border=0>{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}
                ( <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4582,_('変換待ち'){/t}{
                elseif $document.status == 1}{t}4581,_('変換中'){/t}{
                elseif $document.status == 2}{t}4583,_('変換完了'){/t}{
                elseif $document.status == 3}{t}2370,_('削除'){/t}{
                else}{t}4586,_('エラー'){/t}{
                /if}</span> )
            </p>
            {section name=cnt start=1 loop=$document.index}
                <a href="/d/{$document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.index} )" alt="" border=0 /></a>
            {/section}
            <input type="hidden" name="filename[{$document_id}]" size="10" class="inputDoc" value="{$document.name|escape:'html'}" />
        {/if}</div>
    {/foreach}
    {else}
        {t}2326,_('資料は登録されていません'){/t}</td>
    {/if}
{/if}
    <!-- ここまで動的に表示ON/OFF -->


</td>
</tr>
</table>
</div>
