<p class="small">{t start=$start_datetime|date_format:"%Y/%m/%d" end=$end_datetime|date_format:"%Y/%m/%d" total=$total}2427,_('%1$s ～ %2$sの予約状況 ( %3$s件 )'){/t}</p>
<table border="0">
<col class="date" />
<col class="name" />
<thead>
<tr>
<th>{t}2428,_('日時'){/t}</th>
<th>{t}2429,_('会議名'){/t}</th>
</tr>
</thead>
<tbody>
{if $list}
{foreach from=$list item=row}
{if $row.status == "end"}
    <tr>
    <td class="doneMtg"><span class="doneMtgImg">{t}2430,_('終了'){/t}</span>{$row.reservation_starttime|date_format:"%Y/%m/%d %H:%M"} {t}4800,_('～'){/t}
    {$row.reservation_endtime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $timezone >= 0}+{/if}{$timezone})</td>
    <td class="doneMtg">{$row.reservation_name|escape:"html"}</td>
    </tr>
{elseif $row.status == "now"}
    <tr>
    <td class="nowMtg"><span class="nowMtgImg">{t}2431,_('開催中'){/t}</span>{$row.reservation_starttime|date_format:"%Y/%m/%d %H:%M"} {t}4800,_('～'){/t}
    {$row.reservation_endtime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $timezone >= 0}+{/if}{$timezone})</td>
    <td class="nowMtg">{$row.reservation_name|escape:"html"}</td>
    </tr>
{else}
    <tr>
    <td class="listMtg">{$row.reservation_starttime|date_format:"%Y/%m/%d %H:%M"} {t}4800,_('～'){/t}
    {$row.reservation_endtime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $timezone >= 0}+{/if}{$timezone})</td>
    <td class="listMtg">{$row.reservation_name|escape:"html"}</td>
    </tr>
{/if}
{/foreach}
{if $rest > 0}
    <tr><td colspan="2" class="listRest"><b>{t rest=$rest}2432,_('その他 %s 件'){/t}</b></td></tr>
{/if}
{else}
    <tr><td colspan="2">{t}2433,_('予定はありません。'){/t}</td></tr>
{/if}
</tbody>
</table>
