{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Account Host Management"}
<div id="container">
	<ul>
		<li><a href="#fragment1"><span>{t}1031,_('検索'){/t}</span></a></li>
		<li><a href="#fragment2"><span>{t}1031,_('追加'){/t}</span></a></li>
	</ul>
	
	<div id="fragment1">
		{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/form2.t.html"}
	</div>
	<div id="fragment2">
		{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/insert.t.html"}
	</div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/pager.t.html"}
<form action="" name="list_form">
<table class="searchList">
<thead>
	<tr>
		<th nowrap>&nbsp;</th>
		<th class="action">{t}1420,_('アクション'){/t}</th>
		{foreach from=$columns key=key item=column}
		<th nowrap>
		{$column.label|escape:'html'}
		<a href="?{$page.action}&sort_key={$key}&sort_type=asc">
		{if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
			<img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
		{else}
			<img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
		{/if}
		<a href="?{$page.action}&sort_key={$key}&sort_type=desc">
		{if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
			<img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
		{else}
			<img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
		{/if}
		</th>
		{/foreach}
	</tr>
</thead>
<tbody>
	{foreach from=$rows item=row}
	<tr>
		<td><input type="checkbox" name="keys[]"></td>
		<td class="action">
			<a href="?action_modify&amp;type=account&amp;table=sastik_account_host&amp;key=account_host_key&amp;value={$row.account_host_key|escape:'html'}&amp;uptime=update_datetime">{t}1421,_('修正'){/t}</a>
		</td>
		{foreach from=$columns key=key item=colum}
		<td>{$row.$key|escape:'html'}
		{if $colum.item.relation_data}
			{foreach from=$row.$key item=value}
				{if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
			{/foreach}
		{elseif $colum.item.select}
			{foreach from=$colum.item.select item=select}
				{if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
			{/foreach}
		{/if}</td>
		{/foreach}
	</tr>
	{/foreach}
</tbody>
</table>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}
