<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content= "{$__frame.service_info.meta_keywords}"/>
<meta name="description" content="{$__frame.service_info.meta_description}" />
<link rel="stylesheet" type="text/css" href="{$__frame.fep_directory}/shared/css/import.css" media="all" />
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/lib/prototype.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/lib/jquery.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/lib/sprintf.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/lang/{$__frame.lang}/js/html.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/original.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/common.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/interaction.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/lib/smoothscroll.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/lib/dropdown.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/lib/highlightinput.js"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/lib/jquery.corner.js"></script>
