<div id="header">

<h1>{if $__frame.user_info}<a href="{$__frame.fep_directory}/services/">{else}<a href="{$__frame.fep_directory}/services/login/">{/if}<img src="{$__frame.fep_directory}/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>

</div>
