{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Manage Staff"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}993,_('検索'){/t}</span></a></li>
        {if $authority != 0}<li><a href="#fragment2"><span>{t}994,_('登録'){/t}</span></a></li>{/if}
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/form2.t.html"}
    </div>
    <div id="fragment2">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/insert.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/pager.t.html"}
{literal}
<script type="text/javascript">
<!--
function user_delete(user_key){
    if(confirm("{/literal}{t}995,_('停止しますか？'){/t}{literal}")){
        document.delete_form._action.name = "action_delete_user";
        document.delete_form.user_key.value = user_key;
        document.delete_form.submit();
    }
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="delete_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="user_key" value="" />
<input type="hidden" name="temp" value="{$action}" />
<input type="hidden" name="type" value="{$type}" />
<input type="hidden" name="table" value="{$table}" />
</form>

<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th class="action">{t}996,_('アクション'){/t}</th>
        {foreach from=$columns key=key item=column}
        {if $column.listform_status != "0"}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/if}
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td class="action">
            <a href="?action_modify&amp;type=account&amp;table=staff&amp;key=staff_key&amp;value={$row.staff_key|escape:'html'}&amp;uptime=update_datetime">{t}997,_('修正'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_delete&amp;key=staff_key&amp;value={$row.staff_key|escape:'html'}&amp;status_key=status" onclick="return confirm('{t}998,_('停止してよろしいでしょうか？'){/t}')">{t}999,_('停止'){/t}</a>
        </td>
        {foreach from=$columns key=key item=colum}
        {if $colum.listform_status != "0"}
        <td>{$column.form_status}{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/if}
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1000,_('全て選択'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1001,_('選択解除'){/t}" class="inputCalendar" onclick="all_clear();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}