<div id="header" class="clearfix">

<h1><a href="{$__frame.fep_directory}/services/admin/"><img src="{$__frame.fep_directory}/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
<p class="admin-tit">{t}463,_('管理者ページ'){/t}</p>

<div id="link-col">
{if !$__frame.n2my.auto_login}
<p class="logout"><a href="{$__frame.fep_directory}/services/logout/">{t}265,_('ログアウト'){/t}</a></p>
{/if}

<p id="user-bt"><a class="button button25 b-user" href="{$__frame.fep_directory}/services/?action_show_adminlogout"><span class="button-inner"><span class="btnin">{t}267,_('ユーザページ'){/t}</span></span></a></p>
{if $__frame.country_list|@count > 1 || $__frame.lang_list|@count > 1 || $__frame.time_zone_list|@count > 1}
<p id="personal-bt"><a class="button button25 b-personal" href="{$__frame.fep_directory}/services/admin/index.php?action_env"><span class="button-inner"><span class="btnin icon i-personal">{t}266,_('個人設定'){/t}</span></span></a></p>
{/if}

</div>
</div>

