<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content= "{$__frame.service_info.meta_keywords}"/>
<meta name="description" content="{$__frame.service_info.meta_description}" />
<link rel="stylesheet" type="text/css" href="{$__frame.fep_directory}/shared/css/import.css" media="all" />
<script src="{$__frame.fep_directory}/shared/js/lib/prototype.js" type="text/javascript"></script>
<script src="{$__frame.fep_directory}/shared/js/lib/jquery.js" type="text/javascript"></script>
<script src="{$__frame.fep_directory}/shared/js/common.js" type="text/javascript"></script>
<script type="text/javascript" src="{$__frame.fep_directory}/shared/js/interaction.js"></script>
