{literal}
<script type="text/javascript">
<!--
function add(){
    if(confirm("{/literal}{t}1396,_('are you sure to add?'){/t}{literal}")){
        document.add_form._action.name = "action_add";
        document.add_form.submit();
    }
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="add_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="type" value="{$type}" />
<input type="hidden" name="table" value="{$table}" />
<input type="hidden" name="after_action" value="{if $page.after_action}{$page.after_action}{else}{$page.action}{/if}" />
<input type="hidden" name="error_action" value="{$page.action}" />
<input type="hidden" name="temp" value="{$page.action}" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
{foreach from=$columns key=key item=column}
{if !$column.addform_status && $column.mode == "datetime" || $column.mode == "number"}
<input type="hidden" name="add_form[{$key}]" value="{$column.default}" />
{/if}
{/foreach}
<fieldset>
<legend>Add Form</legend>

<table>
    {foreach from=$columns key=key item=column}
    {if $column.search}
    {if !$column.flags.auto_increment && $column.addform_status == 1}
    <tr>
        <td>{$column.label|escape:'html'}</td>
        <td>
        {if $column.item.relation_data}
            <select name="add_form[{$key}]" {if $column.sub_type == "set"}multiple{/if}>
                <option value="">{t}1104,_('choose one'){/t}</option>
                {foreach from=$column.item.relation_data key=_key item=name}
                <option value="{$_key}" {if $add_form.data.$key == $select.value}selected="1"{/if}>{$_key}: {$name}</option>
                {/foreach}
            </select>{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
        {elseif $column.sub_type}
            <select name="add_form[{$key}]" {if $column.sub_type == "set"}multiple{/if}>
                <option value="">{t}1104,_('choose one'){/t}</option>
                {foreach from=$column.item.select key=_key item=select}
                <option value="{$select.value}" {if $add_form.data.$key == $select.value }selected="1"{elseif !$add_form.data.$key &&1 == $select.selected}selected="1"{/if}>{$select.data}</option>
                {/foreach}
            </select>{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
            {if $message.check.$key}<br /><span class="required">{$message.check.$key}</span><br /><br />{/if}
        {elseif $column.type == "number"}
            <input type="text" name="add_form[{$key}]" size="10" value="{$add_form.data.$key|escape:'html'}" />{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
            {if $message.check.$key}<br /><span class="required">{$message.check.$key}</span><br /><br />{/if}
        {elseif $column.type == "string"}
            <input type="text" name="add_form[{$key}]" size="{if $column.size > 70}70{else}{$column.size}{/if}" maxlength="{$column.size}" value="{$add_form.data.$key|escape:'html'}" />{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
            {if $message.check.$key}<br /><span class="required">{$message.check.$key}</span><br /><br />{/if}
        {elseif $column.type == "text"}
            <textarea name="add_form[{$key}]" cols="40" rows="2">{$add_form.data.$key|escape:'html'}</textarea>{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
            {if $message.check.$key}<br /><span class="required">{$message.check.$key}</span><br /><br />{/if}
        {elseif $column.type == "date"}
            <input type="text" id="add_{$key}" name="add_form[{$key}]" value="{$add_form.data.$key|escape:'html'}" />
            <button type="reset" id="add_{$key}_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
            {if $message.check.$key}<br /><span class="required">{$message.check.$key}</span><br /><br />{/if}
            <script type="text/javascript">
                Calendar.setup({literal}{{/literal}
                    inputField  : 'add_{$key}',
                    button      : 'add_{$key}_btn',
                    ifFormat    : '{$column.format|default:'%Y/%m/%d %H:%M:00'}',
                    showsTime   : true,
                    singleClick : true,
                    weekNumbers : true,
                    cache       : true
                {literal}}{/literal});
            </script>
        {elseif $column.type == "time"}
            <input type="text" name="add_form[{$key}]" size="{if $column.size > 70}70{else}{$column.size}{/if}" maxlength="{$column.size}" value="{$add_form.$key|escape:'html'}" />{if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
            {if $message.$key}<br /><span class="required">{$message.$key}</span>{/if}
        {/if}
        </td>
    </tr>
    {/if}
    {/if}
    {/foreach}
    <tr>
        <th></th>
        <td>
            <input type="button" onclick="add();" value="{t}1107,_('Add'){/t}"/>
        </td>
    </tr>
</table>
</fieldset>
</form>
