{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="グループアカウント"}
<a href="javascript:history.back(1);">戻る</a><br />
<h2>{$smarty.request.yy} 年 {$smarty.request.mm} 月分を集計</h2>
<table class="searchList">
<thead>
</thead>
{foreach from=$headers item=header}
<th>{$header}</th>
{/foreach}
<tbody>
{foreach from=$rows item=row}
<tr>
{foreach from=$headers key=key item=header}
<td>{$row[$key]}</td>
{/foreach}
</tr>
{/foreach}
</tbody>
</table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}