{literal}
<script type="text/javascript">
<!--
var myTableHandler = (function () {
    return function (e) {
        var t = e.target;
        var c = e.currentTarget || this;
        var r;
        var tb;

        if ('INPUT' == t.tagName && 'button' == t.type) {
            if (t.name == 'add') {
                if (document.sort_form.form_add_row != null) {
                    window.alert('Has already been added.');
                    return;
                }
                insertRow();
            } else if (t.name == 'del') {
                r = t.parentNode.parentNode;
                c.deleteRow(r.rowIndex);
                document.sort_form.form_add_row = null;
            } else if (t.name == 'invite_del') {
                r = t.parentNode.parentNode;
                c.deleteRow(r.rowIndex);
            } else if (t.name == 'up') {
                r = t.parentNode.parentNode;
                tb = r.parentNode;
                if (r.rowIndex > 2) {
                    tb.insertBefore(tb.rows[r.rowIndex - 2], tb.rows[r.rowIndex - 3]);
                }
            } else if (t.name == 'down') {
                r = t.parentNode.parentNode;
                tb = r.parentNode;
                if (r.rowIndex - 1 < tb.rows.length) {
                    tb.insertBefore(tb.rows[r.rowIndex -1], tb.rows[r.rowIndex - 2]);
                }
            }
        }
    };
})();

function insertRow()
{
    var table = document.getElementById("docTableBody");
    var row = table.insertRow(table.rows.length);
    var sort = '<input name="up" value="↑" type="button" class="bt-up" />&nbsp;';
    sort += '<input name="down" value="↓" type="button" class="bt-down" />';
    sort += '<input type="hidden" name="add_row[add]" value="1"/>';
    sort += '<input type="hidden" name="form_add_row" value="1"/>';
    var country = '<select name="country[add]" >';
    country += '{/literal}{foreach from=$country_columns key=key item=name}{literal}';
    country += '{/literal}<option value="{$name.value}" {if $country == $name.value}selected{/if}>{$name.value}: {$name.data}</option>{literal}';
    country += '{/literal}{/foreach}{literal}';
    country += '</select>';
    var datacenter_key = '<select name="datacenter_key[add]">';
    datacenter_key += '{/literal}{foreach from=$datacenter_key_columns key=key item=name}{literal}';
    datacenter_key += '{/literal}<option value="{$key}" {if $datacenter_key == $key} selected}{/if}{literal}>';
    datacenter_key += '{/literal}{$key}: {$name}{literal}';
    datacenter_key += '{/literal}</option>{/foreach}</select>{literal}';
    row.insertCell(0).innerHTML = sort;
    row.insertCell(1).innerHTML = '{/literal}<input type="hidden" name="sort[add]" value="{$add_sort}"/>{$add_sort}{literal}';
    row.insertCell(2).innerHTML = country;
    row.insertCell(3).innerHTML = datacenter_key;
    row.insertCell(4).innerHTML = '<input type="hidden" name="datacenter_priority_key[add]" />';
    row.insertCell(5).innerHTML = '<input type="hidden" name="create_datetime[add]" />';
    row.insertCell(6).innerHTML = '<input type="button" name="del" value="Delete" class="bt70-x" />';
}

function updateRow(){
    if(confirm("{/literal}{t}1103,_('Are you sure to update the setting?'){/t}{literal}")){
        document.sort_form._action.name = "action_modify_datacenter_priority";
        document.sort_form.submit();
    }
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="sort_form"  method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="after_action" value="{if $page.after_action}{$page.after_action}{else}{$page.action}{/if}" />
<input type="hidden" name="error_action" value="{$page.action}" />
<input type="hidden" name="user_key" value="{$user_key}" />
<fieldset>
<legend>Modify Form</legend>
<table class="searchList" id="orgTable" onclick="return myTableHandler.call(this, event); ">
<div id="modify-sec" class="clearfix" style="display: none;">
<div id="targetEl">
    <col class="sort" />
    <col class="name" />
    <col class="delete" />
    <thead>
    <tr>
    <th width=90 nowrap>{t}992390,_('user key'){/t}</th>
    <td width=80 colspan="1">{$user_key}</td>
    </tr><tr>
    <th width=90 nowrap></th>
    <th width=80 nowrap>{t}992390,_('order'){/t}</th>
    <th width=130 nowrap>{t}992390,_('location'){/t}</th>
    <th width=200 nowrap>{t}992390,_('dataCenter key'){/t}</th>
    <th width=100 nowrap>{t}992390,_('dataCenter priority key'){/t}</th>
    <th width=120 nowrap>{t}992390,_('create time'){/t}</th>
    <th width=60 nowrap>{t}992390,_('delete'){/t}</th>
    </tr>
    </thead>
    <tbody id="docTableBody">
    {if $dc_priority_rows}
    {foreach from=$dc_priority_rows key=key item=column}
    {if $column.add_row}
    <tr>
        <td>
            <input name="up" value="{t}2393,_('↑'){/t}" type="button" class="bt-up" />
            <input name="down" value="{t}2394,_('↓'){/t}" type="button" class="bt-down" />
        </td><td>
            <input type="hidden" name="add_row[{$key}]" value="{$column.add_row|escape:'html'}"/>
            <input type="hidden" name="form_add_row" value="1" />
            <input type="hidden" name="sort[{$key}]" value="{$column.sort|escape:'html'}" />{$column.sort}</td>
        </td><td>
            <select name="country[{$key}]" >
                {foreach from=$country_columns item=name}
                    <option value="{$name.value}" {if $column.country|escape:'html' == $name.value}selected="1"{/if}>
                        {$name.value}: {$name.data}
                    </option>
                {/foreach}
            </select>
        </td><td>
            <select name="datacenter_key[{$key}]">
                {foreach from=$datacenter_key_columns key=column_key item=name}
                    <option value="{$column_key}" {if $column.datacenter_key|escape:'html' == $column_key}selected="1"}{/if}>
                        {$column_key}: {$name}
                    </option>
                {/foreach}
            </select>
        </td><input type="hidden" name="datacenter_priority_key[{$key}]" value="{$column.datacenter_priority_key|escape:'html'}" /><td>
        </td><input type="hidden" name="create_datetime[{$key}]" value="{$column.create_datetime|escape:'html'}"/><td>
        </td><td><input type="button" name="del" value="Delete" class="bt70-x" /></td>
    </tr>
    {else}
    <tr>
        <td>
        <input name="up" value="{t}2393,_('↑'){/t}" type="button" class="bt-up" />
        <input name="down" value="{t}2394,_('↓'){/t}" type="button" class="bt-down" />
        </td>
        <td>
        <input type="hidden" name="add_row[{$key}]" value="0" />
        <input type="hidden" name="sort[{$key}]" value="{$column.sort|escape:'html'}" />{$column.sort}</td>
        <td>
        <input type="hidden" name="country[{$key}]" value="{$column.country|escape:'html'}" >
        {foreach from=$country_columns item=name}
            {if $column.country == $name.value}
              {$name.value|escape:"html"}: {$name.data}
            {/if}
        {/foreach}
        </td>
        <input type="hidden" name="datacenter_key[{$key}]" value="{$column.datacenter_key|escape:'html'}"/>
        <td>
        {foreach from=$datacenter_key_columns key=datacenter_key item=name}
            {if $column.datacenter_key == $datacenter_key}
                {$datacenter_key|escape:"html"}: {$name}
            {/if}
        {/foreach}
        </td>
        <td><input type="hidden" name="datacenter_priority_key[{$key}]" value="{$column.datacenter_priority_key|escape:'html'}"  />{$column.datacenter_priority_key}</td>
        <td><input type="hidden" name="create_datetime[{$key}]" value="{$column.create_datetime|escape:'html'}"  />{$column.create_datetime}</td>
        <td>
            <input type="button" name="invite_del" value="Delete" class="bt70-x" />
        </td>
    </tr>
    {/if}
    {/foreach}
    {/if}
    </tbody>
</td></tr>
</div>
</table>

{if $required.datacenter_key}<span class="required">{$message.required}</span><br>{/if}
{if $message.datacenter_key}<span class="required">{$message.$key}</span><br>{/if}

<p class="add-sec">
<input name="add"  type="button"  onclick="return myTableHandler.call(this, event);" value="{t}992396,_('Add'){/t}" class="icon i-add" />
</p>
</div>
<input type="button"  onclick="updateRow();" value="{t}992396,_('Update'){/t}" class="icon i-add" />
<input type="button" onClick="history.back();" value="{t}1284,_('Back'){/t}"/>
</fieldset>
</form>
